<app-header></app-header>
<div class="container">
  <section
    class="bg-white w-full dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]"
  >
    <div
      class="py-7 px-4 mb-4 mx-auto max-w-screen-xl text-center lg:py-16 z-0 relative"
    >
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"
      >
        Nơi tiếp nhận nạp xu
      </h1>
      <blockquote
        class="text-xl text-gray-500 italic font-semibold text-center"
      >
        <p>"Quét mã QR để nạp điểm vào tài khoản của bạn ngay lập tức!"</p>
      </blockquote>
    </div>
  </section>

  <div
    class="w-full max-w-[50rem] bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
  >
    <form class="space-y-6" action="#">
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">
        Mời bạn nhập thông tin để nạp xu
      </h5>
      <div>
        <label
          for="point"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Số xu cần nạp
        </label>
        <input
          type="point"
          name="pointDeposit"
          [(ngModel)]="pointDeposit"
          id="point"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          placeholder="99,000"
          required
        />
      </div>

      <a
        href="#"
        class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
        >1,000 xu ~ 1,000đ</a
      >
      <button
        (click)="handleCreatePaymentLink()"
        type="submit"
        class="w-full text-white bg-[#97D5FE] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Nạp xu ngay
      </button>
    </form>
  </div>
</div>
