.container {
  padding: 2% 10%;
  .coin-banking-contaienr {
    padding: 2.5% 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .coin-banking-left {
      align-self: flex-start;
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2rem;
      }
      .bank-info {
        font-size: 1rem;
        font-weight: 600;
        p {
          line-height: 1.5;
        }
        span {
          color: rgb(226, 80, 65);
        }
      }
      .point-info {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 600;
        p {
          line-height: 1.5;
        }
        span {
          color: rgb(226, 80, 65);
        }
      }

      .note {
        margin-top: 1rem;
        font-size: 1rem;
        a {
          color: rgb(226, 80, 65);
          font-weight: 600;
        }
      }
    }
    .coin-banking-right {
      align-self: flex-end;
    }
  }
}
