.header {
  border-bottom: 1px solid #3333;
}
.container {
  padding: 0% 20%;
  margin-top: 2rem;
  position: relative;
  .like_comment {
    position: fixed;
    top: 26%;
    left: 6%;
    .top {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #757575;
    }
  }
  .main-content-container {
    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      color: #000;
    }
  }
  footer {
    padding-top: 1rem;
    border-top: 2px solid #ff5c00;
  }
}
:host ::ng-deep .p-sidebar {
  width: 50rem !important;
  overflow: auto;
}
.sidebar-comment {
  .container-sidebar-comment {
    h2 {
      font-size: 1.4rem;
      font-weight: 600;
    }
    span {
      font-weight: 300;
      font-size: 1rem;
      font-style: italic;
    }
    .user-comment {
      width: 100%;
      p {
        border-bottom: 1px solid #3333;
        margin-bottom: 0.5rem;
        font-weight: 300;
      }
    }
    .btn-comment {
      padding: 0.5rem 1rem;
      width: 7.5rem;
      border-radius: 1rem;
      background: linear-gradient(to right bottom, #ff8f26, #ff5117);
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
      }
    }
    .btn-cancel-editor {
      padding: 0.5rem 1rem;
      width: 7.5rem;
      border-radius: 1rem;
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
      }
    }
    .container-body {
      .content {
        width: 100%;
        .main {
          padding: 1rem;
          background-color: #f2f3f5;
          border-radius: 18px;
          color: #1c1e21;
          h5 {
            font-size: 1rem;
            font-weight: 600;
          }
        }
        .sub-main {
          span {
            font-size: 1rem;
            font-style: normal;
          }
          p {
            font-size: 0.8rem;
          }
          .p-custome {
            color: #b0b3b8;
            font-size: 0.8rem;
            font-weight: 700;
            cursor: pointer;
            &:hover {
              color: #000;
            }
          }
          /* Dropdown Button */
          .dropbtn {
            cursor: pointer;
          }

          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }

          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            border-radius: 10px;
            color: #1d2129;
            box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
            padding: 8px 0px;
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 14rem;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            opacity: 0; /* Thêm thuộc tính opacity để làm mờ và hiện dropdown */
            animation: fadeIn 0.3s ease forwards; /* Sử dụng animation fadeIn */
          }
          /* Hiệu ứng hiển thị dropdown */
          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          /* Links inside the dropdown */
          .dropdown-content a {
            font-size: 0.9rem;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            width: 100%;
          }

          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {
            background-color: #ddd;
          }

          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
            animation: fadeIn 0.5s ease forwards; /* Khi hover vào, áp dụng animation fadeIn */
          }
        }
      }
    }
  }
}

.custome-dislog {
  width: 40rem !important;
  background-color: #fff;
  border-radius: 10px;
  max-width: 80vh;
  .header {
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .body {
    margin: 10px 0px;
    p {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
  .btn-comment {
    padding: 0.5rem 1rem;
    width: 7.5rem;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    p {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
    }
  }
  .btn-cancel-editor {
    padding: 0.5rem 1rem;
    width: 7.5rem;
    border-radius: 1rem;
    p {
      font-size: 1rem;
      font-weight: 600;
      color: #000;
    }
  }
}
