<app-header></app-header>

<div class="container">
  <!-- Header Component -->

  <!-- Bài đăng gần đây -->
  <div class="blog-current">
    <!-- <h2>Bài đăng gần đây</h2> -->
    <div class="flex flex-row">
      <div class="col-6 container-left">
        <!-- Hình ảnh -->
        <img
          src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage.png?alt=media&token=d642a5d2-5ccc-4d1b-9946-9a27b7408bc2"
        />
        <!-- Tác giả - ngày đăng - min read -->
        <p>Đinh Gia Bảo • 05/02/2024 • 5 phút</p>
        <!-- Tiêu đề -->
        <h1>Authentication & Authorization trong ReactJS</h1>
        <!-- Tiêu đề phụ -->
        <h3>
          Authentication và Authorization là một phần quan trọng trong việc phát
          triển phần mềm, giúp chúng ta xác thực và phân quyền...
        </h3>
        <!-- Các Tags -->
        <div class="tags">
          <p-tag severity="success" value="Nodejs"></p-tag>
          <p-tag severity="danger" value="Frontend"></p-tag>
          <p-tag severity="info" value="UI UX"></p-tag>
        </div>
      </div>
      <div class="col-6 container-right flex flex-col gap-3">
        <div class="col-6 blog flex flex-row w-full gap-3">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage1.png?alt=media&token=240fab7d-8734-48bf-b199-6c42e6230731"
            alt=""
          />
          <div class="blog-detail">
            <!-- Tác giả - ngày đăng - min read -->
            <p>Nguyễn Thành Đạt • 05/02/2024 • 5 phút</p>
            <!-- Tiêu đề -->
            <h1>Một số "cẩm nang" hay khi làm việc với HTML/CSS</h1>
            <!-- Tiêu đề phụ -->
            <h3>
              Bài viết này đơn giản là nơi để mình lưu lại những kinh nghiệm
              mình đã làm việc ...
            </h3>
            <!-- Các Tags -->
            <div class="tags">
              <p-tag severity="success" value="Cơ bản"></p-tag>
              <p-tag severity="info" value="UI UX"></p-tag>
            </div>
          </div>
        </div>
        <div class="col-6 blog flex flex-row w-full gap-3">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage3.png?alt=media&token=a45c34b1-cc1a-4042-b16d-903b7edd6723"
            alt=""
          />
          <div class="blog-detail">
            <!-- Tác giả - ngày đăng - min read -->
            <p>Bùi Đức Trí • 05/02/2024 • 5 phút</p>
            <!-- Tiêu đề -->
            <h1>Cảm thấy khó khăn khi chuyển sang học một ngôn ngữ mới</h1>
            <!-- Tiêu đề phụ -->
            <h3>
              Tôi làm chuyên môn về phân tích dữ liệu, chủ yếu là dùng phần mềm
              chuyên môn sâu và ...
            </h3>
            <!-- Các Tags -->
            <div class="tags">
              <p-tag severity="success" value="Cơ bản"></p-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tất cả bài đăng -->
  <div class="list-blog">
    <h2>Tất cả bài đăng</h2>
    <!-- Danh sách các bài đăng -->
    <div class="flex flex-row">
      <div class="col-4">
        <!-- Hình ảnh -->
        <img
          src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage.png?alt=media&token=d642a5d2-5ccc-4d1b-9946-9a27b7408bc2"
        />
        <!-- Tác giả - ngày đăng - min read -->
        <p>Đinh Gia Bảo • 05/02/2024 • 5 phút</p>
        <!-- Tiêu đề -->
        <h1>Authentication & Authorization trong ReactJS</h1>
        <!-- Tiêu đề phụ -->
        <h3>
          Authentication và Authorization là một phần quan trọng trong việc phát
          triển phần mềm, giúp chúng ta xác thực và phân quyền...
        </h3>
        <!-- Các Tags -->
        <div class="tags">
          <p-tag severity="success" value="Nodejs"></p-tag>
          <p-tag severity="danger" value="Frontend"></p-tag>
          <p-tag severity="info" value="UI UX"></p-tag>
        </div>
      </div>
      <div class="col-4">
        <!-- Hình ảnh -->
        <img
          src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage.png?alt=media&token=d642a5d2-5ccc-4d1b-9946-9a27b7408bc2"
        />
        <!-- Tác giả - ngày đăng - min read -->
        <p>Đinh Gia Bảo • 05/02/2024 • 5 phút</p>
        <!-- Tiêu đề -->
        <h1>Authentication & Authorization trong ReactJS</h1>
        <!-- Tiêu đề phụ -->
        <h3>
          Authentication và Authorization là một phần quan trọng trong việc phát
          triển phần mềm, giúp chúng ta xác thực và phân quyền...
        </h3>
        <!-- Các Tags -->
        <div class="tags">
          <p-tag severity="success" value="Nodejs"></p-tag>
          <p-tag severity="danger" value="Frontend"></p-tag>
          <p-tag severity="info" value="UI UX"></p-tag>
        </div>
      </div>
      <div class="col-4">
        <!-- Hình ảnh -->
        <img
          src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2FImage.png?alt=media&token=d642a5d2-5ccc-4d1b-9946-9a27b7408bc2"
        />
        <!-- Tác giả - ngày đăng - min read -->
        <p>Đinh Gia Bảo • 05/02/2024 • 5 phút</p>
        <!-- Tiêu đề -->
        <h1>Authentication & Authorization trong ReactJS</h1>
        <!-- Tiêu đề phụ -->
        <h3>
          Authentication và Authorization là một phần quan trọng trong việc phát
          triển phần mềm, giúp chúng ta xác thực và phân quyền...
        </h3>
        <!-- Các Tags -->
        <div class="tags">
          <p-tag severity="success" value="Nodejs"></p-tag>
          <p-tag severity="danger" value="Frontend"></p-tag>
          <p-tag severity="info" value="UI UX"></p-tag>
        </div>
      </div>
    </div>

    <!-- Paginator -->
    <div class="card flex justify-content-center">
      <p-paginator
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>
  </div>

  <!-- Quảng cáo dịch vụ -->
  <div class="intro-services">
    <!-- Title -->
    <div class="title">
      <p>Cộng đồng IT</p>
      <h2>Nơi chia sẻ kiến thức</h2>
      <span
        >Đăng ký để nhận ngay ưu đãi về các khóa học mới, và tích hợp tính năng
        chatbot vào ứng dụng của bạn.
      </span>

      <!-- Button Sub -->
      <div class="btn-subscribe">
        <div class="card flex justify-content-center gap-3">
          <span class="p-float-label">
            <input pInputText id="email" />
            <label for="email">Mời bạn nhập email</label>
            <p>
              Chúng tôi luôn đề cao <strong>chính sách bảo mật</strong> dữ liệu
              người dùng.
            </p>
          </span>
          <button
            pButton
            pRipple
            label="Đăng ký ngay"
            class="p-button-success"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
