<app-header></app-header>

<div class="uni-coin-container">
  <div class="body">
    <ng-container *ngIf="this.coins.length > 0; else emptyCoin">
      <!-- Hiển thị xu -->
      <header>
        <div class="display-coins">
          <img
            class="coins-img"
            src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
          />
          <p class="coins-text">{{ totalCoin }} Xu đang có</p>
        </div>
        <div class="get-coins">
          <p class="coins-text">Nhận thêm xu</p>
        </div>
      </header>
      <div class="tab-view-history">
        <p-tabView>
          <p-tabPanel header="Tất cả lịch sử">
            <ng-container *ngFor="let item of this.coins">
              <div class="history">
                <div class="his-left">
                  <img
                    class="his-img"
                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
                  />
                  <div>
                    <p class="his-text">{{ item.title }}</p>
                    <p class="his-sub-text">{{ item.description }}</p>
                    <p class="his-sub-text">
                      {{ item.created_at | date : "h:mm a d/M/yy " }}
                    </p>
                  </div>
                </div>
                <p class="his-right">
                  {{ item.status === "active" ? "+" + item.coin : item.coin }}
                </p>
              </div>
            </ng-container>
          </p-tabPanel>
          <p-tabPanel header="Nhận xu">
            <div *ngFor="let item of this.listCounsActived" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">{{ item.description }}</p>
                  <p class="his-sub-text">
                    {{ item.created_at | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p class="his-right">+{{ item.coin }}</p>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Dùng xu">
            <div *ngFor="let item of this.listCoinsUsed" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">Sử dụng xu</p>
                  <p class="his-sub-text">
                    {{ item.date_used | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p [ngStyle]="{ color: 'red' }" class="his-right">
                {{ item.coin }}
              </p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </ng-container>
    <ng-template #emptyCoin>
      <div class="empty-coin">
        <p class="empty-text">
          Bạn chưa có xu nào. Hãy tham gia các hoạt động để nhận xu nhé!
        </p>
      </div>
    </ng-template>
  </div>
</div>
