<app-header></app-header>

<div class="uni-coin-container">
  <div class="body">
    <!-- Hiển thị xu -->
    <header>
      <div class="display-coins">
        <img
          class="coins-img"
          src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
        />
        <p class="coins-text">100 Xu đang có</p>
      </div>
      <div class="get-coins">
        <p class="coins-text">Nhận thêm xu</p>
      </div>
    </header>
    <div class="tab-view-history">
      <p-tabView>
        <p-tabPanel header="Tất cả lịch sử">
          <div class="history">
            <div class="his-left">
              <img
                class="his-img"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
              />
              <div>
                <p class="his-text">Đăng nhập mỗi ngày</p>
                <p class="his-sub-text">Xu từ Đăng nhập mỗi ngày</p>
                <p class="his-sub-text">12:59 16-04-2024</p>
              </div>
            </div>
            <p class="his-right">+100</p>
          </div>
          <div class="history">
            <div class="his-left">
              <img
                class="his-img"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
              />
              <div>
                <p class="his-text">Mua khóa Toán cao cấp lớp 12</p>
                <p class="his-sub-text">12:59 16-04-2024</p>
              </div>
            </div>
            <p class="his-right">-100</p>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Nhận xu">
          <div class="history">
            <div class="his-left">
              <img
                class="his-img"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
              />
              <div>
                <p class="his-text">Đăng nhập mỗi ngày</p>
                <p class="his-sub-text">Xu từ Đăng nhập mỗi ngày</p>
                <p class="his-sub-text">12:59 16-04-2024</p>
              </div>
            </div>
            <p class="his-right">+100</p>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Dùng xu">
          <div class="history">
            <div class="his-left">
              <img
                class="his-img"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/coins/75efaf1b556a8e2fac6ab9383e95d4e3.png"
              />
              <div>
                <p class="his-text">Mua khóa Toán cao cấp lớp 12</p>
                <p class="his-sub-text">12:59 16-04-2024</p>
              </div>
            </div>
            <p class="his-right">-100</p>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
