<div class="flex justify-content-center">
  <!-- Form hỏi đáp -->
  <p-overlayPanel #op>
    <div
      [ngStyle]="{ padding: '1rem' }"
      class="max-w-lg overscroll-auto w-[35rem] h-[40rem]"
    >
      <!-- Header -->
      <div class="flex flow-row items-center justify-content-center">
        <div class="flex w-full justify-end mb-4">
          <i
            class="pi pi-minus p-2 mr-2 close-btn cursor-pointer rounded-full bg-slate-200"
            (click)="op.toggle($event)"
          ></i>
          <i
            class="pi pi-times p-2 close-btn cursor-pointer rounded-full bg-slate-200"
            (click)="toggleOverlay(op, $event)"
          ></i>
        </div>
      </div>

      <!-- Khung hỏi -->
      <textarea
        autofocus
        id="message"
        [(ngModel)]="questionText"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Nhập câu hỏi của bạn tại đây..."
      ></textarea>

      <!-- Hỏi Button -->
      <div class="flex flex-row">
        <button
          type="button"
          (click)="askQuestion()"
          class="py-2.5 px-5 me-2 my-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
        >
          <i class="pi pi-question-circle mr-2"></i>
          <span>Hỏi</span>
        </button>
        <button
          type="button"
          (click)="clearForm()"
          class="py-2.5 px-5 me-2 my-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
        >
          <i class="pi pi-eraser mr-2"></i>
          <span>Làm mới</span>
        </button>
      </div>

      <!-- Khung AI trả lời -->
      <label
        for="message"
        class="block mb-2 mt-0 text-sm font-medium font-customFont text-gray-900"
        >Phản hồi từ AI
      </label>

      <markdown
        id="message"
        class="block p-2.5 w-full h-[22rem] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        [data]="displayText"
        style="overflow-y: auto"
      ></markdown>
    </div>
  </p-overlayPanel>

  <!-- Button chatbot -->
  <button (click)="op.toggle($event)" type="button">
    <div class="chat-bot" pTooltip="Hỏi trợ lý Unicourse">
      <img [ngStyle]="{ width: '2.5rem', height: '3rem' }" src="{{ LOGO }}" />
    </div>

    <span class="sr-only">Icon description</span>
  </button>
</div>
