<div class="container bg-gray-100">
  <app-header></app-header>

  <div class="contact-page-container">
    <div
      class="fitst-body bg-custom-200 py-[3rem] flex flex-col items-center justify-center"
    >
      <div class="title text-black">
        <h1
          class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl"
        >
          Hãy liên hệ chúng tôi
          <span class="text-orange-500">bất cứ khi nào</span>
        </h1>
        <blockquote
          class="text-xl text-gray-500 italic font-semibold text-center mb-7"
        >
          <p>
            Nếu có bất kỳ câu hỏi hoặc yêu cầu nào, hãy liên hệ với chúng tôi.
            Thông qua các phương tiện dưới đây
          </p>
        </blockquote>
      </div>
      <div class="form-container">
        <div class="form-contact grid grid-cols-3 px-[10rem] gap-5">
          <div
            class="flex flex-col items-center bg-white max-w-full rounded-lg py-4"
          >
            <img
              width="96"
              height="96"
              src="https://img.icons8.com/color/96/facebook-messenger--v1.png"
              alt="facebook-messenger--v1"
            />
            <p class="text-lg font-semibold text-gray-800">Nhắn tin</p>
            <span class="pb-[1rem]">Chúng tôi sẽ trả lời bạn ngay lập tức</span>
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-[80%] py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              <a class="w-full" href="https://m.me/288592671009847">
                Nhắn tin cho chúng tôi</a
              >
            </button>
          </div>
          <div
            class="flex flex-col items-center bg-white max-w-full rounded-lg py-4"
          >
            <img
              width="96"
              height="96"
              src="https://img.icons8.com/fluency/96/gmail-new.png"
              alt="gmail-new"
            />
            <p class="text-lg font-semibold text-gray-800">Gửi mail</p>
            <span class="pb-[1rem]"
              >Chúng tôi sẽ phản hồi lại nhanh nhất có thể</span
            >
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-[80%] py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              <a href="mailto:example@somewhere.com"
                >Gửi mail tới unicourse.learningplatform&#64;.com</a
              >
            </button>
          </div>

          <div
            class="flex flex-col items-center bg-white max-w-full rounded-lg py-4"
          >
            <img
              width="96"
              height="96"
              src="https://img.icons8.com/ios/96/apple-phone.png"
              alt="apple-phone"
            />
            <p class="text-lg font-semibold text-gray-800">Gọi điện</p>
            <span class="pb-[1rem]">Trường hợp bạn hỗ trợ nhanh</span>
            <p>+84 94 283 34 63</p>
          </div>
        </div>
      </div>
    </div>

    <div class="maps py-4 px-8">
      <iframe
        width="100%"
        height="100%"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.610010537022!2d106.80730807635648!3d10.84112758931166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752731176b07b1%3A0xb752b24b379bae5e!2sFPT%20University%20HCMC!5e0!3m2!1sen!2s!4v1718732463941!5m2!1sen!2s"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
