:host ::ng-deep .p-knob-text {
    font-weight: 900;
}

.container {
    max-width: 100%;
    margin-bottom: 2%;

    .body-container {
        height: 100%;
        padding: 0% 2%;
        margin: auto;

        .activeIcon {
            color: #00b944 !important;
            transition: 0.5s ease;
        }

        .dropdown-button-container {
            position: fixed;
            top: 8rem;
            left: 0.5rem;
            z-index: 10;
        }

        .dropdownButton:hover {
            color: white !important;
            background-color: #00b944;
            border: 1px solid #00b944;
        }

        .dropdownButtonActive {
            color: white !important;
            background-color: #00b944;
            border: 1px solid #00b944;
        }

        .review-answer-container {
            height: 100%;
            padding: 0% 12%;
            margin: auto;
            margin-top: 2%;
            .correct-answer {
                background-color: #00b944;
                border: 1px solid #22c55e;
                .text-answer {
                    color: white;
                    font-weight: 500;
                }
                .icon-answer {
                    color: white;
                }
            }
            .wrong-answer {
                border: 1px solid #eb1c20;
                background-color: #e61618;
                .text-answer {
                    color: white;
                    font-weight: 500;
                }
                .icon-answer {
                    color: white;
                }
            }
            .disable-answer {
                border: 1px solid #bdbdbd;
                .text-disable-answer {
                    color: #bdbdbd;
                    font-weight: 500;
                }
                .icon-disable-answer {
                    color: #bdbdbd;
                }
            }
        }
    }
}