<div class="card flex justify-content-center w-full bg-white rounded-xl shadow">
    <p-accordion [multiple]="true" [activeIndex]="[0]" class="tracks">
        <p-accordionTab *ngFor="let track of tracks" header={{track.chapterTitle}} class="track">
            <div *ngFor="let item of track.track_steps" class="px-4">
                <div class="py-2">
                    <p-button label={{item.title}} icon="pi pi-video" severity="secondary" size="small"></p-button>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>