:host ::ng-deep .p-progressbar {
  border-radius: 1rem;
}

.container {
  max-width: 100%;
  padding-bottom: 2%;
  .body-container {
    height: 100%;
    padding: 0% 5%;
    margin: auto;
    .animation-color {
      color: #708090; // Default color
      font-size: larger;
      transition: 0.5s ease; // Smooth transition for color change
      border: 1px solid #708090; // Default border
      min-height: 7rem;
    }
    .animation-color:hover {
      color: #bbf7d0;
      border: 1px solid #bbf7d0;
      cursor: pointer;
      min-height: 7rem;
    }
    .active {
      transition: 0.5s ease; // Smooth transition for color change
      border: 1px solid #00b944;
    }
    .disabled {
      background-color: #97d5fe;
      cursor: not-allowed;
    }
    .activeIcon {
      color: #00b944 !important;
      transition: 0.5s ease;
    }
    .activeIconAndModeRightAnswerAndWrongAnswer {
      color: #00b944 !important;
      transition: 0.5s ease;
    }
    .activeButton {
      color: white !important;
      background-color: #00b944;
      border: 1px solid #00b944;
    }
    .activeText {
      color: #00b944 !important;
      transition: 0.5s ease;
    }
    .isShowRightAnswer {
      border: 1px solid #00b944 !important;
      .textRightAnswer {
        color: white !important;
      }
    }
    .exitBtn:hover {
      background-color: #e72929;
      .textExit {
        color: white !important;
      }
      .iconExit {
        color: white !important;
      }
    }
    .exitBtn:active {
      background-color: #ff0505;
      .textExit {
        color: white !important;
      }
      .iconExit {
        color: white !important;
      }
    }
  }
}
