<p-blockUI [blocked]="blockedUI">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <i
                [ngStyle]="{ cursor: 'pointer' }"
                routerLink="/lecture/list"
                class="pi pi-arrow-left"
            ></i>
        </div>

        <div
            class="flex flex-row justify-content-between mb-2 align-items-center"
        >
            <h3 class="mb-0">Thông tin chi tiết</h3>
            <div class="flex flex-row gap-2 align-items-center">
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-user"
                    class="p-button-rounded p-button-info"
                    p-tooltip="Xem danh sách Học viên"
                ></button>
                <h5 class="m-0">
                    {{ courseDetail.enrollmentCount }} học viên đã đăng ký
                </h5>
            </div>
        </div>
        <div *ngIf="courseDetail" class="card">
            <!-- Title -->
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                    <div>
                        <p class="m-0">Tiêu đề</p>
                        <input
                            [value]="courseDetail.title"
                            type="text"
                            pInputText
                            placeholder="Default"
                            class="w-full"
                        />
                    </div>
                    <div class="mb-2">
                        <p class="m-0 mt-2">Mô tả</p>
                        <input
                            [value]="courseDetail.titleDescription"
                            type="text"
                            pInputText
                            placeholder="Default"
                            class="w-full"
                        />
                    </div>
                    <p-fileUpload
                        name="demo[]"
                        url="./upload.php"
                        [multiple]="true"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        class="mt-3"
                    >
                        <ng-template pTemplate="content"> </ng-template>
                    </p-fileUpload>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                    <div>
                        <img
                            class="w-full"
                            src="{{ courseDetail.thumbnail }}"
                        />
                    </div>
                </div>
            </div>
            <p-divider></p-divider>

            <!-- SubDes -->
            <h5 class="mb-0">{{ courseDetail.subTitle }}</h5>
            <div class="grid formgrid">
                <div
                    *ngFor="let subDes of courseDetail.subTitleDescription"
                    class="col-12 mb-2 mt-3 lg:col-6 lg:mb-0"
                >
                    <input
                        [value]="subDes"
                        type="text"
                        pInputText
                        placeholder="Default"
                        class="w-full"
                    />
                </div>
            </div>
            <button
                class="mt-2"
                pButton
                pRipple
                type="button"
                label="Thêm mới"
            ></button>
            <p-divider></p-divider>

            <!-- Content -->
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                    <div class="flex flex-column p-2">
                        <p class="m-0">Trạng thái</p>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Đang hoạt động"
                            class="p-button-outlined p-button-success"
                        ></button>
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                    <div class="flex flex-column p-2">
                        <p class="m-0">Loại</p>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Khóa học miễn phí"
                            class="p-button-outlined p-button-info"
                        ></button>
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0"></div>
            </div>
            <p-divider></p-divider>

            <!-- Danh sách Video -->
            <h5 class="mb-2">Các chương học</h5>
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                    <p-accordion
                        class="w-full"
                        [multiple]="true"
                        [activeIndex]="[0]"
                    >
                        <ng-container *ngFor="let track of courseDetail.tracks">
                            <p-accordionTab
                                class="w-full"
                                header="{{ track.chapterTitle }}"
                            >
                                <!-- Hiển thị danh sách video của Track -->
                                <div class="grid formgrid">
                                    <div
                                        *ngFor="
                                            let video of track.track_steps;
                                            let i = index
                                        "
                                        class="col-12 mb-2 lg:col-12 lg:mb-0"
                                    >
                                        <div
                                            class="flex flex-row gap-2 align-items-center"
                                        >
                                            <div
                                                [ngStyle]="{
                                                    width: '2rem',
                                                    color: 'rgba(240,81,35)'
                                                }"
                                            >
                                                <svg
                                                    aria-hidden="true"
                                                    focusable="false"
                                                    data-prefix="fas"
                                                    data-icon="circle-play"
                                                    class="svg-inline--fa fa-circle-play CurriculumOfCourse_icon__1fxR9 CurriculumOfCourse_video__GQtG1"
                                                    role="img"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 512 512"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"
                                                    ></path>
                                                </svg>
                                            </div>
                                            <div
                                                class="flex flex-row w-full justify-content-between"
                                            >
                                                <p class="m-0">
                                                    {{ i + 1 }}.
                                                    {{ video.title }}
                                                </p>
                                                <p class="m-0">
                                                    {{
                                                        convertToHHMMSS(
                                                            video.duration
                                                        )
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>

                                <!-- START ZONE: XỬ LÝ UPLOAD VIDEO CHO TỪNG TRACK -->

                                <form [formGroup]="formGroup">
                                    <p-selectButton (onChange)="onChangeUploadType($event, track)" [options]="uploadOptions" formControlName="value" optionLabel="label" optionValue="value"></p-selectButton>
                                </form>
                                <p-divider></p-divider>
                                <ng-container *ngIf="track._id == trackSelect && valSelect1 == 'youtube'">
                                    <p class="m-0">Nhập link url Youtube</p>
                                    <div class="formgroup-inline">
                                        <div class="field">
                                            <input pInputText id="youtubeUrl" (change)="extractVideoId()" [(ngModel)]="youtubeUrl" class="w-full" type="text" placeholder="Ví dụ: https://youtu.be/...." />
                                        </div>
                                        <button pButton icon="pi pi-upload" (click)="uploadTrackVideo()" label="Upload" [disabled]="videoId == ''"></button>
                                    </div>
                                    <p-divider></p-divider>
                                </ng-container>
                                <ng-container *ngIf="track._id == trackSelect && valSelect1 == 'googleDrive'">
                                    <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" [multiple]="false" accept="video/*">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedFiles.length">
                                                <li *ngFor="let file of uploadedFiles">
                                                    {{ file.name }} - {{ file.size }} bytes
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </ng-container>
                                <button
                                    class="mt-2"
                                    pButton
                                    pRipple
                                    type="button"
                                    label="+"
                                ></button>

                                <!-- END ZONE: XỬ LÝ UPLOAD VIDEO CHO TỪNG TRACK -->

                            </p-accordionTab>
                            <button
                                class="mt-2"
                                pButton
                                pRipple
                                type="button"
                                label="Thêm chương mới"
                            ></button>
                        </ng-container>
                    </p-accordion>
                </div>
            </div>
        </div>

        <!-- Group Btn -->
        <div class="flex flex-row gap-2 justify-content-end">
            <button
                pButton
                pRipple
                type="button"
                label="Hủy bỏ"
                class="p-button-outlined p-button-secondary"
            ></button>
            <button
                pButton
                pRipple
                type="button"
                label="Lưu"
                class="p-button-outlined"
            ></button>
        </div>
    </div>
</div>
