<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button
                        pButton
                        pRipple
                        label="Thêm khóa học mới"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="openNew()"
                    ></button>
                </div>
            </ng-template>

            <ng-template pTemplate="right">
                <p-fileUpload
                    mode="basic"
                    accept="image/*"
                    [maxFileSize]="1000000"
                    label="Import"
                    chooseLabel="Import"
                    class="mr-2 inline-block"
                ></p-fileUpload>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <h5>Danh Sách Khóa Học</h5>
            <p-dataView
                #dv
                [value]="listMyCourse"
                [paginator]="true"
                [rows]="9"
                filterBy="name"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
                layout="grid"
            >
                <ng-template pTemplate="header">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between gap-2"
                    >
                        <p-dropdown
                            [options]="sortOptions"
                            placeholder="Xắp xếp theo giá"
                            (onChange)="onSortChange($event)"
                        ></p-dropdown>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                type="search"
                                pInputText
                                placeholder="Tìm kiếm theo tên"
                                (input)="onFilter(dv, $event)"
                            />
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-courses pTemplate="listItem">
                    <div class="col-12" *ngFor="let course of courses">
                        <div
                            class="flex flex-column md:flex-row align-items-center p-3 w-full"
                        >
                            <img
                                [src]="course.thumbnail"
                                [alt]="course.name"
                                class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"
                            />
                            <div
                                class="flex-1 flex flex-column align-items-center text-center md:text-left"
                            >
                                <div class="font-bold text-2xl">
                                    {{ course.title }}
                                </div>
                                <div class="mb-2">
                                    {{ course.description }}
                                </div>
                                <p-rating
                                    [ngModel]="course.rating"
                                    [readonly]="true"
                                    [cancel]="false"
                                    styleClass="mb-2"
                                ></p-rating>
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{
                                        course.category
                                    }}</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0"
                            >
                                <span
                                    class="text-2xl font-semibold mb-2 align-self-center md:align-self-end"
                                    >${{ course.price }}</span
                                >
                                <p-button
                                    icon="pi pi-shopping-cart"
                                    label="Add to Cart"
                                    [disabled]="
                                        course.inventoryStatus === 'OUTOFSTOCK'
                                    "
                                    styleClass="mb-2 p-button-sm"
                                ></p-button>
                                <span
                                    [class]="
                                        'course-badge status-' +
                                        course.inventoryStatus.toLowerCase()
                                    "
                                    >{{ course.inventoryStatus }}</span
                                >
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-courses pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        <div
                            class="col-12 md:col-4"
                            *ngFor="let course of courses"
                        >
                            <div class="card m-3 border-1 surface-border">
                                <div
                                    class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
                                >
                                    <div class="flex align-items-center">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-semibold"
                                            >{{ course.enrollmentCount || 0 }}
                                            đã đăng ký
                                        </span>
                                    </div>
                                    <!-- <span
                                        [class]="
                                            'course-badge status-' +
                                            course.inventoryStatus.toLowerCase()
                                        "
                                        >{{ course.inventoryStatus }}</span
                                    > -->
                                </div>
                                <div
                                    class="flex flex-column align-items-center text-center mb-3"
                                >
                                    <img
                                        [src]="course.thumbnail"
                                        [alt]="course.name"
                                        class="w-12 my-3 mx-0"
                                    />
                                    <div class="text-xl font-bold">
                                        {{ course.title }}
                                    </div>
                                    <div class="mb-3">
                                        {{ course.description }}
                                    </div>
                                    <p-rating
                                        [(ngModel)]="value"
                                        [readonly]="true"
                                        [cancel]="false"
                                    ></p-rating>
                                </div>
                                <div
                                    class="flex align-items-center justify-content-between"
                                >
                                    <span class="text-2xl">{{
                                        course.amount | currency : "VND"
                                    }}</span>
                                    <p-button
                                        icon="pi pi-pencil"
                                        [disabled]="
                                            course.inventoryStatus ===
                                            'OUTOFSTOCK'
                                        "
                                        pTooltip="Xem chi tiết "
                                        routerLink="/lecture/course/{{
                                            course._id
                                        }}"
                                    ></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
