:host ::ng-deep .p-image-preview-container>img {
  border-radius: 1rem;
}

:host ::ng-deep .p-image-preview-indicator {
  border-radius: 1rem;
}

:host ::ng-deep .p-fileupload-files {
  text-align-last: center;
}

:host ::ng-deep .p-fileupload-content {
  padding: 0;
}

.group-thumbnail {
    text-align: -webkit-center !important;
  
    .thumbnail {
      width: 10rem;
      border-radius: 1rem;
    }
  }
  
  .truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Hiệu ứng ... nối đuôi */
    max-width: 15ch;
    /* Giới hạn số lượng text tối đa 10 ký tự */
    &:hover {
      cursor: pointer;
    }
  }
  
  .group-avatar {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
  
    .avatar {
      width: 40px;
      height: auto;
    }
  }
  
  .tags {
    display: grid;
    grid-auto-columns: auto;
    row-gap: 5px;
  }

.thumbnail-container {
  display: grid;
  grid-template-columns: auto auto;
  .thumbnail-detail {
    height: 10rem;
    width: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
