// Background colors
$background-success: #f0ffed;
$background-error: #ffeaea;
$background-black: #000000;
$background-white: #ffffff;
$background-chat-bot: #97d5fe31;
$background-gray-100: #f9f9f9;
$background-gray-200: #efefef;
$background-gray-300: #e7e7e7;
$background-light: #f0f0f0;
$background-light-1: #d8efff;
$background-light-2: #c8e8ff;
$background-light-3: #b3e0ff;
$background-light-4: #a7dcfe;
$background-light-5: #97d5fe;
$cover-image-background-color: #2d2f31;

// Primary colors
$primary-100: #bae7ff;
$primary-200: #91d5ff;
$primary-light: #69c0ff;
$primary-400: #40a9ff;
$primary-main: #1890ff;
$primary-dark: #096dd9;
$primary-700: #0050b3;
$primary-darker: #003a8c;
$primary-900: #002766;

// Blue-Gray colors
$blue-gray-100: #f0f4f8;
$blue-gray-200: #e2e8f0;
$blue-gray-300: #d9dee5;
$blue-gray-400: #c0c7d2;
$blue-gray-500: #a8b3c0;
$blue-gray-600: #8fa1b0;
$blue-gray-700: #738699;
$blue-gray-800: #5a6e80;
$blue-gray-900: #425666;
$blue-gray-1000: #2b3d4e;

// Yellow colors
$yellow-200: #eceb98;

// Text colors
$text-white: #ffffff;
$text-black: #000000;
$text-gray-900: #4d4d4d;
$text-gray-800: #6a6f73;
$text-gray-700: #0000008a;
$text-btn-gray-700: #6a6f73;
$text-btn-gray-800: #4d4d4d;
$text-btn-gray-900: #2d2f31;
$text-btn-gray-100: #ebebeb;

// Border colors
$border-color: #d1d7dc;
$border-color-divider: #ddd;
$border-color-light: #ccc;
$border-error: #ff4d4f;
$border-success: #48bd79;
$comment-border-color: #dae4f0;

// Color for type
$error-color: #ff4d4f;
$success-color: #48bd79;

// Button colors
$button-secondary-1: #5edff5;
$button-secondary-2: #97d5fe;