<div class="main" *ngIf="userInfo">
  <p-blockUI [blocked]="blockedUI">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <div
    class="rounded-lg grid grid-cols-4 w-full opacity-100 drop-shadow-sm backdrop-opacity-10 backdrop-invert bg-[#142d55a9]"
  >
    <div class="side-bar">
      <div class="list-rooms">
        <div class="flex flex-row justify-between items-center p-3">
          <div class="flex flex-row items-center gap-2">
            <img
              class="w-2 rounded-full"
              [src]="userInfo.profile_image"
              alt="Rounded avatar"
            />
            <h2 class="text-sm m-0 p-0">{{ userInfo.fullName }}</h2>
          </div>

          <button
            id="dropdownMenuIconButton"
            data-dropdown-toggle="dropdownDots"
            data-dropdown-placement="bottom-start"
            class="w-4 justify-end flex"
            type="button"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 4 15"
            >
              <path
                d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
              />
            </svg>
          </button>
          <div
            id="dropdownDots"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownMenuIconButton"
            >
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Cài đặt tài khoản</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Đăng xuất</a
                >
              </li>
            </ul>
          </div>
        </div>
        <span class="p-input-icon-left search mb-3 w-full p-3">
          <i class="pi pi-search text-white pl-4"></i>
          <input
            type="text"
            pInputText
            placeholder="Tìm kiếm trên Unicourse"
            class="w-full pl-6 p-2 bg-[#142d55a9] rounded-lg"
          />
        </span>
        <div
          *ngIf="chatRoomDetail"
          class="room-detail flex flex-row items-center gap-2 border-b-[0.5px] border-[#ffffff16] pb-3 px-3"
        >
          <img
            width="40"
            height="40"
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Logo%2Flogo%20hi%CC%80nh.png?alt=media&token=b21fff42-3fb8-4d66-9a28-69c7ad4adaeb"
            alt="room"
          />
          <h2 class="text-sm font-semibold m-0 p-0">
            {{ chatRoomDetail.name }}
          </h2>
        </div>
      </div>
    </div>
    <div
      *ngIf="userInfo && chatRoomDetail"
      class="content col-span-3 flex flex-col w-full"
    >
      <div class="header flex flex-row items-center justify-between">
        <div class="title-room flex flex-row items-center gap-2">
          <img
            width="40"
            height="40"
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Logo%2Flogo%20hi%CC%80nh.png?alt=media&token=b21fff42-3fb8-4d66-9a28-69c7ad4adaeb"
            alt="room"
          />
          <div class="flex flex-col pl-2">
            <h2 class="text-sm font-bold p-0 m-0">{{ chatRoomDetail.name }}</h2>
            <span
              class="pt-1 text-sm text-gray-500 whitespace-pre-line dark:text-gray-400"
              >Hỏi đáp cùng SE</span
            >
          </div>
        </div>
        <div class="profile flex flex-row items-center gap-3">
          <i
            (click)="leaveRoom()"
            class="pi pi-sign-out text-white cursor-pointer"
            style="font-size: 1.5rem"
          ></i>
        </div>
      </div>
      <div class="main-content grid">
        <div class="list-msg p-4 pb-0 grid-cols-4 flex flex-col">
          <div
            class="msg col-span-3 flex flex-col items-start gap-3"
            #chatContainer
          >
            <ng-container
              *ngFor="
                let message of chatRoomDetail.messages;
                trackBy: trackByMessageId
              "
            >
              <div
                *ngIf="message.user && message.user._id !== userInfo._id"
                class="msg-left flex flex-row items-center justify-normal mb-4"
              >
                <p-avatar
                  [image]="message.user.profile_image"
                  styleClass="mr-2"
                  size="normal"
                  shape="circle"
                ></p-avatar>
                <div>
                  <p class="text-white text-sm">{{ message.user.fullName }}</p>
                  <p
                    class="break-words min-w-[10rem] max-w-[40%] p-2 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
                  >
                    {{ message.message }}
                  </p>
                </div>
              </div>
              <div
                *ngIf="message.user && message.user._id === userInfo._id"
                class="msg-right flex flex-row items-center justify-end pr-4 mb-2"
              >
                <p
                  class="break-words min-w-[10rem] max-w-[40%] p-2 border-gray-200 bg-gray-100 rounded-xl rounded-tr-none dark:bg-gray-700"
                >
                  {{ message.message }}
                </p>
              </div>
            </ng-container>
          </div>
          <div class="group-input p-4 m-0">
            <input
              [(ngModel)]="message"
              (keyup.enter)="sendMessage(message)"
              class="pr-4 rounded-lg text-white"
              placeholder="Mời bạn nhập tin nhắn ..."
              type="text"
              pInputText
            />
            <i
              (click)="sendMessage(message)"
              class="cursor-pointer pi pi-send text-white"
              style="font-size: 1.2rem"
              pTooltip="Gửi tin nhắn"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
