
.container {
    .text-lg {
        font-family: 'system-ui' !important;
    }
    .text-base {
        font-family: 'system-ui' !important;
    }
    background-color: #F9F9F9;
    .header-background {
        background-color: #FFFFFF;
        margin-bottom: 2rem;
    }
    .body-container {
        width: 80%;
        margin: auto;
        .p-card-content {
            padding: 0;
        }
        .card-container {
            padding: 0;
            .content {
                padding: 0;
                margin: 0;
                background-color: #FFFFFF;
            }
            .card {
                margin: 0;
            }
        }
    }
    // 
}