<div class="container">
    <div class="header-background">
        <app-header></app-header>
    </div>
    <div class="body-container">
        <p-card class="card-container">
            <div class="flex flex-row content">
                <div class="basis-1 md:basis-1/3 p-0 border-round-left pr-5">
                    <img class="logo border-round" src="../../../../assets/images/course-banner.jpg"
                        [style]="{height:'100%', width:'100%'}" />
                    <!-- <div class="bg-cover md:bg-contain bg-center bg-no-repeat bg-primary border-round h-30rem w-full" style="background-image: url('../../../../assets/images/course-banner.jpg')"></div> -->
                </div>
                <!-- course-banner.jpg -->
                <div class="basis-1 md:basis-2/3 border-round-right">
                    <p class="text-lg text-black font-semibold">Lập trình JavaScript nâng cao</p>
                    <p class="text-base text-black">Số bài học:&nbsp;
                        <span class="font-semibold text-black">{{value}}</span>
                        &nbsp;
                        <span class="font-semibold" [style]="{'color': '#9B51E0'}">Xem chi tiết </span>
                        &nbsp;
                        <i class="pi pi-angle-down" [style]="{'color': '#9B51E0', 'font-weight': '600'}"></i>
                    </p>
                </div>
            </div>
        </p-card>
    </div>
</div>