:host ::ng-deep .p-dialog {
  width: 35vw;
}
:host ::ng-deep .p-dialog-header .p-dialog-title {
  font-size: x-large;
  font-weight: 700;
}
:host ::ng-deep .p-button-label {
  background: skyblue;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: white;
  &:hover {
    background: cornflowerblue;
  }
}
:host ::ng-deep .p-confirm-dialog-message {
  font-size: medium;
}
