<div class="container">
  <router-outlet class="absolute h-[100rem]"></router-outlet>
  <app-footer></app-footer>
</div>

<div class="noti-responsive-web">
  <blockquote
    class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800"
  >
    <p
      class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white"
    >
      Xin lỗi bạn vì sự bất tiện này, <br />hiện tại hệ thống đang phát triển để
      tương thích trên thiết bị di động.
    </p>
  </blockquote>
  <p class="text-gray-900 font-bold dark:text-gray-500 w-[25rem]"></p>
  <div class="inline-flex items-center justify-center w-full">
    <hr class="w-50 h-1 my-4 bg-gray-200 border-0 rounded dark:bg-gray-700" />
  </div>
  <img
    src="https://i.pinimg.com/564x/8f/9e/47/8f9e47247b8e7c59901832d35ab690ee.jpg"
  />
</div>

<!-- Dialog đăng nhập tài khoản -->
<div class="card flex justify-content-center">
  <p-dialog [(visible)]="visibleSignIn">
    <ng-template pTemplate="headless">
      <div
        class="sign-in relative flex flex-column align-items-center gap-4"
        style="
          border-radius: 12px;
          background-image: radial-gradient(circle at left top, white, white);
        "
      >
        <i class="pi pi-times p-2 close-btn" (click)="closeDialogSignIn()"></i>
        <img class="logo" src="{{ Logo }}" />

        <div
          class="flex flex-column align-items-app-dialogcenter text-center items-center"
        >
          <p>Chào mừng đến với Unicourse</p>
          <span class="m-3"
            >Mỗi người nên sử dụng riêng một tài khoản, tài khoản nhiều người sử
            dụng chung có thể sẽ bị khóa.</span
          >
          <!-- <div class="list-buttons-icon px-2 pb-2">
            <div
              class="button-icon p-3 flex flex-row text-center align-items-center"
            >
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/color/24/apple-phone.png"
                alt="apple-phone"
              />
              <p>Sử dụng email / số điện thoại</p>
            </div>
          </div> -->
          <div class="list-buttons-icon px-2 pb-2">
            <div
              (click)="tryGoogleLogin()"
              class="button-icon p-3 flex flex-row text-center align-items-center"
            >
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/color/24/google-logo.png"
                alt="google-logo"
              />
              <p>Đăng nhập với Google</p>
            </div>
          </div>
          <!-- <div class="list-buttons-icon px-2 pb-2">
            <div
              class="button-icon p-3 flex flex-row text-center align-items-center"
            >
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/color/24/facebook-new.png"
                alt="facebook-new"
              />
              <p>Đăng nhập với Facebook</p>
            </div>
          </div> -->
          <!-- <div class="list-buttons-icon px-2">
            <div
              (click)="tryGibHubLogin()"
              class="button-icon p-3 flex flex-row text-center align-items-center"
            >
              <img
                width="24"
                height="24"
                src="https://img.icons8.com/ios-filled/24/github.png"
                alt="github"
              />
              <p>Đăng nhập với GitHub</p>
            </div>
          </div> -->
        </div>
        <div class="sign-in-footer text-center pb-6 pr-4 pl-4">
          <!-- <p>
            Bạn chưa có tài khoản?
            <strong
              [ngStyle]="{ cursor: 'pointer' }"
              (click)="openDialogSignUp()"
              >Đăng ký</strong
            >
          </p> -->
          <span>
            Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý
            <strong [ngStyle]="{ cursor: 'pointer' }"
              >điều khoản sử dụng của chúng tôi</strong
            >
          </span>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>

<!-- Dialog Đăng ký tài khoản -->
<div class="card flex justify-content-center">
  <p-dialog [(visible)]="visibleSignUp">
    <ng-template pTemplate="headless">
      <div
        class="sign-up relative flex flex-column align-items-center gap-4"
        style="
          border-radius: 12px;
          background-image: radial-gradient(circle at left top, white, white);
        "
      >
        <i class="pi pi-times p-2 close-btn" (click)="closeDialogSignUp()"></i>
        <img src="{{ Logo }}" />

        <div class="flex flex-column align-items-center text-center">
          <p>Chào mừng đến với Unicourse</p>
          <span class="m-3"
            >Mỗi người nên sử dụng riêng một tài khoản, tài khoản nhiều người sử
            dụng chung có thể sẽ bị khóa.</span
          >
          <div class="list-buttons-icon pl-4 pr-4">
            <input
              pInputText
              class="fullName p-2"
              aria-describedby="username-help"
              placeholder="Nhập họ tên của bạn"
              [style]="{ height: '3rem' }"
            />
          </div>
          <div class="list-buttons-icon pl-4 pr-4">
            <p-inputGroup>
              <p-inputGroupAddon>VN 84+</p-inputGroupAddon>
              <input
                class="p-2"
                type="text"
                pInputText
                placeholder="Nhập số điện thoại của bạn"
              />
            </p-inputGroup>
          </div>
          <div class="list-buttons-icon p-4 pb-0">
            <p-inputGroup>
              <input
                class="p-2"
                type="text"
                pInputText
                placeholder="Nhập mã xác thực"
              />
              <button
                type="button"
                pButton
                icon="pi pi-lock-open"
                class="bg-[#F1B300]"
                [style]="{ padding: '1rem' }"
              ></button>
            </p-inputGroup>
          </div>
          <div class="list-buttons-icon pt-4">
            <div
              class="button-icon-sign-up py-2 flex flex-row text-center align-items-center"
              [style]="{ width: '95%', margin: 'auto' }"
            >
              <p>Đăng ký</p>
            </div>
          </div>
        </div>
        <div class="sign-in-footer text-center pb-6 pr-4 pl-4">
          <p>Bạn đã có tài khoản? <strong>Đăng nhập</strong></p>
          <span>
            Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý
            <strong [ngStyle]="{ cursor: 'pointer' }"
              >điều khoản sử dụng của chúng tôi</strong
            >
          </span>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
<app-dialog></app-dialog>
<app-confirm-dialog></app-confirm-dialog>

<!-- Nút hỗ trợ -->
<a
  href="https://m.me/288592671009847"
  pTooltip="Chăm sóc khách hàng"
  class="group-btn-cskh"
>
  <img
    width="50"
    height="50"
    src="https://kimnhungtoeic.com/wp-content/uploads/2020/03/icons8-facebook-messenger.gif"
    alt="facebook-messenger--v1"
  />
</a>

<!-- Nút tạo blog -->
<div routerLink="new-post" pTooltip="Tạo bài viết mới" class="group-btn-top">
  <img
    width="50"
    height="50"
    src="https://img.icons8.com/sf-ultralight/50/create-new.png"
    alt="create-new"
  />
</div>

<!-- Nút turn on new feed -->
<div
  pTooltip="Xem bảng tin"
  class="group-btn-top-new-feed"
  (click)="showDialog()"
>
  <img
    width="50"
    height="50"
    src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/50/external-speaker-womens-day-flatart-icons-solid-flatarticons.png"
    alt="external-speaker-womens-day-flatart-icons-solid-flatarticons"
  />
</div>

<!-- Dialog New Feed -->
<div class="card flex justify-content-center dialog-new-feed">
  <p-dialog
    header="Header"
    [(visible)]="visibleDialogNewFeed"
    [modal]="true"
    [style]="{ width: '55rem' }"
    [breakpoints]="{ '1199px': '70vw', '575px': '90vw' }"
  >
    <ng-template pTemplate="header">
      <div
        class="inline-flex align-items-center justify-content-center gap-2 pr-4 pl-4"
      >
        <h2 class="font-bold text-3xl text-black">Bảng tin Unicourse</h2>
      </div>
    </ng-template>
    <div
      *ngFor="let newFeed of listNewFeeds"
      class="body-new-feed-container pr-4 pl-4 mb-4"
    >
      <div class="title flex flex-nowrap items-center gap-1 mb-3">
        <span class="font-bold text-orange-600 text-2xl">#</span>
        <p class="font-semibold text-2xl text-black">
          {{ newFeed.title }}
        </p>
      </div>
      <div class="content">
        <p class="font-normal text-lg mb-3">
          {{ newFeed.description }}
        </p>
        <img
          class="w-full mt-2 mb-2 text-center rounded-lg"
          src="{{ newFeed.image }}"
          alt="hình ảnh"
        />
        <p class="font-normal text-lg mb-3">
          {{ newFeed.footer }}
        </p>
      </div>
      <div
        class="author flex flex-nowrap gap-1 pb-2"
        [ngStyle]="{ 'border-bottom': '1px solid #3333' }"
      >
        <span class="font-normal">Đăng bởi</span>
        <p class="font-bold italic text-[#f05123]">
          {{ newFeed.author.fullName }}
        </p>
        ·<span class="font-normal">{{
          publishedAtString(newFeed.created_at)
        }}</span>
      </div>
    </div>
  </p-dialog>
</div>
