<div class="card">
  <header>
    <div class="nav-left">
      <i
        [routerLink]="['/']"
        class="pi pi-angle-left"
        style="
          font-size: 2rem;
          color: #fff;
          margin-right: 1rem;
          cursor: pointer;
        "
      ></i>
      <div class="logo-title">
        <p *ngIf="course">{{ course.title }}</p>
      </div>
    </div>
    <div class="nav-right">
      <div class="container">
        <i
          class="pi pi-file"
          style="
            font-size: 1rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>Ghi chú</p>
      </div>
      <div class="container">
        <i
          class="pi pi-info-circle"
          style="
            font-size: 1rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>Hỗ trợ</p>
      </div>
      <div class="container">
        <i
          class="pi pi-chart-pie"
          style="
            font-size: 1.2rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>0/{{ course && course.tracks.length }} chương</p>
      </div>
    </div>
  </header>
  <div class="learning-video grid grid-cols-6 gap-2">
    <div class="video col-span-6">
      <div class="container">
        <iframe
          width="100%"
          [ngStyle]="{ height: '40rem' }"
          [src]="videoUrl"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="detail-info">
    <div class="lecturer">
      <p>
        <strong>Giảng viên:</strong>
        Nguyễn Thành Đạt
      </p>
    </div>
    <div class="title">
      <h2>{{ course && course.title }}</h2>
      <span>Cập nhật tháng 1 năm 2024</span>
    </div>
    <div class="community">
      <p>
        Tham gia cộng đồng Unicoure ngay để cập nhật các thông tin ưu đãi mới
        nhất
      </p>
      <li>
        Fanpage:
        <a>https://www.facebook.com/unicourse/</a>
      </li>
      <li>
        Group:
        <a>https://www.facebook.com/unicourse-group/</a>
      </li>
      <li>
        Facebook giảng viên:
        <a>https://www.facebook.com/ngdat2001/</a>
      </li>
    </div>
  </div>
  <footer>
    <div
      *ngIf="this.indexLesson > 0"
      [routerLink]="['/learning-course/', this.courseId, this.previousLesson]"
      class="btn-left"
    >
      <i
        class="pi pi-angle-left"
        style="
          font-size: 1.5rem;
          color: #404040;
          margin-right: 0.5rem;
          cursor: pointer;
        "
      ></i>
      <p>BÀI TRƯỚC</p>
    </div>
    <!-- Btn Next Lesson -->
    <div
      *ngIf="this.trackSteps.length - 1 > this.indexLesson"
      [routerLink]="['/learning-course/', this.courseId, this.nextLesson]"
      class="btn-right"
    >
      <p>BÀI TIẾP THEO</p>
      <i
        class="pi pi-angle-right"
        style="
          font-size: 1.5rem;
          color: #f05123;
          margin-right: 0.5rem;
          cursor: pointer;
        "
      ></i>
    </div>
    <div class="btn-sidebar">
      <p *ngIf="track">{{ track.chapterTitle }}</p>
      <i
        (click)="sidebar = true"
        class="pi pi-align-justify"
        style="font-size: 1.5rem"
      ></i>
    </div>
  </footer>
</div>

<!-- Sidebar Learning -->
<div class="card flex flex-wrap justify-content-center gap-2">
  <p-sidebar [(visible)]="sidebar" styleClass="set-width" position="right">
    <div class="card flex flex-col justify-content-center">
      <h2>Nội dung khóa học</h2>
      <p-accordion
        [multiple]="true"
        [activeIndex]="[0]"
        class="w-full accordion-tab"
      >
        <ng-container *ngIf="this.course">
          <p-accordionTab *ngFor="let track of this.course.tracks">
            <ng-template pTemplate="header">
              <span class="flex align-items-center gap-2 w-full">
                <div>
                  <p class="font-bold white-space-nowrap">
                    {{ track.position }}. {{ track.chapterTitle }}
                  </p>
                  <span>0/{{ track.track_steps.length }} | 11:21</span>
                </div>
              </span>
            </ng-template>
            <div *ngFor="let step of track.track_steps">
              <div
                [ngStyle]="
                  this.conntent_url == step.content_url
                    ? { 'background-color': 'rgb(252, 220, 211)' }
                    : { 'background-color': '#e7e7e7' }
                "
                class="step-track w-full"
              >
                <p
                  [routerLink]="[
                    '/learning-course/',
                    this.course._id,
                    step.content_url
                  ]"
                  [ngStyle]="{ 'font-size': '1rem', cursor: 'pointer' }"
                >
                  {{ step.position }}. {{ step.title }}
                </p>
                <div class="duration">
                  <img
                    width="20"
                    height="20"
                    src="https://img.icons8.com/nolan/64/circled-play.png"
                    alt="circled-play"
                  />
                  <span>11:21</span>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    </div>
  </p-sidebar>
</div>
