<div class="card">
  <header>
    <div class="nav-left">
      <i
        class="pi pi-angle-left"
        style="
          font-size: 2rem;
          color: #fff;
          margin-right: 1rem;
          cursor: pointer;
        "
      ></i>
      <div class="logo-title">
        <img src="../../../assets/images/Logo UniCourse.svg" />
        <p>Kiến thức nhập môn IT</p>
      </div>
    </div>
    <div class="nav-right">
      <div class="container">
        <i
          class="pi pi-circle"
          style="
            font-size: 1rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>0/12 bài học</p>
      </div>
      <div class="container">
        <i
          class="pi pi-file"
          style="
            font-size: 1rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>Ghi chú</p>
      </div>
      <div class="container">
        <i
          class="pi pi-info-circle"
          style="
            font-size: 1rem;
            color: #fff;
            margin-right: 0.5rem;
            cursor: pointer;
          "
        ></i>
        <p>0/12 bài học</p>
      </div>
    </div>
  </header>
  <div class="learning-video grid grid-cols-4 gap-2">
    <div class="video col-span-3">
      <div class="container">
        <img
          src="https://www.imgacademy.com/sites/default/files/legacyhotel6.jpg"
        />
      </div>
    </div>
    <div class="sidebar">
      <p class="font-bold">Nội dung khóa học</p>
      <p-tree [value]="files" class="w-full md:w-30rem"></p-tree>
    </div>
  </div>
  <div class="detail-info">
    <div class="lecturer">
      <p>
        <strong>Giảng viên:</strong>
        Nguyễn Thành Đạt
      </p>
    </div>
    <div class="title">
      <h2>Template engine (handlebars)</h2>
      <span>Cập nhật tháng 1 năm 2024</span>
    </div>
    <div class="community">
      <p>
        Tham gia cộng đồng Unicoure ngay để cập nhật các thông tin ưu đãi mới
        nhất
      </p>
      <li>
        Fanpage:
        <a>https://www.facebook.com/unicourse/</a>
      </li>
      <li>
        Group:
        <a>https://www.facebook.com/unicourse-group/</a>
      </li>
      <li>
        Facebook giảng viên:
        <a>https://www.facebook.com/ngdat2001/</a>
      </li>
    </div>
  </div>
  <footer>
    <div class="btn-left">
      <i
        class="pi pi-angle-left"
        style="
          font-size: 2.5rem;
          color: #fff;
          margin-right: 0.5rem;
          cursor: pointer;
        "
      ></i>
      <p>BÀI SAU</p>
    </div>
    <div class="btn-right">
      <p>BÀI TIẾP THEO</p>
      <i
        class="pi pi-angle-right"
        style="
          font-size: 2.5rem;
          color: #f0a089;
          margin-right: 0.5rem;
          cursor: pointer;
        "
      ></i>
    </div>
  </footer>
</div>
