<p-toast [life]="1000"></p-toast>

<div *ngIf="user" class="container">
  <!-- Thực hiện việc blockUI khi gọi các API  -->
  <p-blockUI [blocked]="blockedUI"
    ><p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <h1>Thông tin cá nhân</h1>
  <!-- Name -->
  <div class="name mt-6">
    <div class="flex flex-row align-items-center">
      <div class="info">
        <h3>Họ Tên</h3>
        <ng-container *ngIf="isUpdate; else isNotUpdate">
          <div class="flex flex-col">
            <input
              id="new-nusername"
              class="input-new-name ng-invalid ng-dirty"
              type="text"
              pInputText
              placeholder="Nhập tên mới của bạn... "
              [(ngModel)]="newFullName"
              name="newFullName"
            />
            <small
              [ngStyle]="{ color: 'red' }"
              *ngIf="newFullName.length == 0"
              id="new-nusername"
              >Tên mới không được bỏ trống</small
            >
          </div>
        </ng-container>
        <ng-template #isNotUpdate>
          <h4>{{ user.fullName }}</h4>
        </ng-template>
      </div>
      <div class="card flex justify-content-center">
        <p-toggleButton
          (onChange)="handleOnClickUpdate()"
          onLabel="Xác nhận"
          offLabel="Chỉnh sửa"
          onIcon="pi pi-check"
          offIcon="pi pi-user-edit"
          [style]="{ width: '10em' }"
          [disabled]="newFullName.length === 0"
        ></p-toggleButton>
      </div>
    </div>
    <p class="mt-3">
      Tên của bạn xuất hiện trên trang cá nhân và bên cạnh các bình luận của
      bạn.
    </p>
  </div>

  <!-- Email -->
  <div class="name mt-6">
    <div class="flex flex-row align-items-center">
      <div class="info">
        <h3>Email</h3>
        <h4>{{ user.email }}</h4>
      </div>
    </div>
  </div>

  <!-- Avatar -->
  <div class="name mt-6">
    <div class="flex flex-row align-items-center">
      <div class="info">
        <h3>Avatar</h3>
        <div class="flex flex-row">
          <p class="mt-2">
            Nên là ảnh vuông, chấp nhận các tệp: JPG, PNG hoặc GIF.
          </p>
          <p-avatar
            image="{{ user.profile_image }}"
            size="xlarge"
            shape="circle"
            class="ml-6"
          ></p-avatar>
        </div>
      </div>
      <div class="card flex justify-content-center">
        <p-fileUpload
          mode="basic"
          chooseLabel="Upload hình"
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          (onUpload)="onUpload($event)"
        ></p-fileUpload>
      </div>
    </div>
  </div>

  <!-- Số điện thoại   -->
  <!-- <div class="name mt-6">
    <div class="flex flex-row align-items-center">
      <div class="info">
        <h3>Số điện thoại</h3>
        <h4>0918.498.961</h4>
      </div>
    </div>
    <p class="mt-3">Điện thoại liên kết với Unicourse.</p>
  </div> -->
</div>
