<p-toast [life]="1000"></p-toast>
<div class="nav-info">
  <div
    [ngStyle]="{ 'background-color': '#fff' }"
    class="w-full flex flex-row items-center"
  >
    <div class="nav-left w-full flex items-center justify-start">
      <div
        (click)="navigateToHome()"
        [ngStyle]="{ cursor: 'pointer' }"
        class="flex flex-row items-center"
      >
        <img class="img-logo" src="{{ Logo }}" alt="Logo" />
      </div>
      <div
        class="nav-items flex flex-row justify-start align-items-center text-center"
      >
        <div
          [ngStyle]="{ padding: '0% 3%' }"
          class="flex flex-row items-center gap-2"
        >
          <span class="search p-input-icon-left">
            <lord-icon
              class="icon-search"
              src="https://cdn.lordicon.com/jtkfemwz.json"
              trigger="hover"
              style="width: 20px; height: 20px"
            >
            </lord-icon>
            <input
              (input)="toggleOverlayForSearch($event)"
              placeholder="Tìm kiếm khóa học"
              type="text"
              pInputText
              [(ngModel)]="searchText"
              class="block w-full py-3 px-6 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </span>
          <p-overlayPanel #searchForm>
            <div class="w-[28rem] pr-2 pl-2">
              <ng-container
                *ngIf="
                  this.dataSearch &&
                    (dataSearch.blog.length > 0 ||
                      dataSearch.course.length > 0 ||
                      dataSearch.quiz.length > 0);
                  else EmptyDataSearch
                "
              >
                <div class="flex flex-col">
                  <div class="flex flex-row items-center gap-2 text-gray-500">
                    <i class="pi pi-search" style="font-size: 1rem"></i>
                    <p>Kết quả cho '{{ searchText }}'</p>
                  </div>
                  <!-- Display Course -->
                  <div
                    *ngIf="dataSearch.course.length > 0"
                    class="flex flex-col"
                  >
                    <div
                      class="flex flex-row justify-between items-center border-b border-gray-200 pb-2 mt-2"
                    >
                      <p class="font-bold">Khoá học</p>
                      <p
                        class="text-sm text-gray-500 hover:text-blue-700 cursor-pointer"
                      >
                        Xem thêm
                      </p>
                    </div>
                    <div
                      class="mt-3 flex flex-row items-center gap-2 cursor-pointer"
                      *ngFor="let course of dataSearch.course.slice(0, 3)"
                      (click)="goToCourse(course._id)"
                    >
                      <img
                        class="w-[10rem] rounded-lg"
                        src="{{ course.thumbnail }}"
                      />
                      <p class="font-bold text-md">{{ course.title }}</p>
                    </div>
                  </div>
                  <!-- Display Blog -->
                  <div *ngIf="dataSearch.blog.length > 0" class="flex flex-col">
                    <div
                      class="flex flex-row justify-between items-center border-b border-gray-200 pb-2 mt-2"
                    >
                      <p class="font-bold">Bài viết</p>
                      <p
                        class="text-sm text-gray-500 hover:text-blue-700 cursor-pointer"
                      >
                        Xem thêm
                      </p>
                    </div>
                    <div
                      class="mt-3 flex flex-row items-center gap-2 cursor-pointer"
                      *ngFor="let blog of dataSearch.blog.slice(0, 3)"
                      (click)="goToBlogDetail(blog._id)"
                    >
                      <img
                        class="w-[10rem] rounded-lg"
                        src="{{ blog.thumbnail_url }}"
                      />
                      <p class="font-bold text-md">{{ blog.title }}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #EmptyDataSearch>
                <div class="flex flex-row items-center gap-2 text-gray-500">
                  <i class="pi pi-search" style="font-size: 1rem"></i>
                  <p>Không có kết quả cho '{{ searchText }}'</p>
                </div>
              </ng-template>
            </div>
          </p-overlayPanel>
        </div>
      </div>
    </div>
    <div class="nav-right flex flex-row gap-4 justify-end items-center">
      <p
        (click)="redirectToAboutUs()"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="nav-item"
      >
        Giới thiệu
      </p>
      <p
        (click)="redirectToContactPage()"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="nav-item"
      >
        Liên hệ
      </p>

      <div class="flex justify-center">
        <lord-icon
          (click)="opMenu.toggle($event)"
          src="https://cdn.lordicon.com/rcgrnzji.json"
          trigger="hover"
          style="width: 2.5rem; height: 2.5rem"
          pTooltip="Xem thêm"
        >
        </lord-icon>

        <p-overlayPanel #opMenu>
          <div class="flex flex-column w-10rem avt-group">
            <!-- Blog  -->
            <div class="py-3 border-b">
              <p
                routerLink="/blog"
                [queryParams]="{ page: 1 }"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Bài viết (Blog)
              </p>
            </div>

            <!-- Cộng đồng -->
            <div class="py-3 border-b">
              <p
                (click)="joinRoom('65ebe4d2d0cb58ef9cb250cc')"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Cộng đồng
              </p>
            </div>

            <div class="py-3">
              <p
                (click)="redirectToFlashcard()"
                class="nav-item cursor-pointer"
              >
                Ôn bài
              </p>
            </div>
          </div>
        </p-overlayPanel>
      </div>

      <ng-container *ngIf="user; else unLogin">
        <!-- <i
          (click)="redirectToCart()"
          class="pi-shopping-cart mr-4 p-text-secondary"
          pBadge
          style="font-size: 2rem; cursor: pointer; color: #000"
          value="{{ lengthOfCartItems }}"
          severity="danger"
        ></i> -->

        <lord-icon
          (click)="redirectToCart()"
          class="mr-2 p-text-secondary cursor-pointer"
          src="https://cdn.lordicon.com/guothkao.json"
          trigger="hover"
          style="width: 2.5rem; height: 2.5rem"
          value="{{ lengthOfCartItems }}"
          pBadge
          severity="danger"
        >
        </lord-icon>
        <p-avatar
          (click)="op.toggle($event)"
          image="{{ user.profile_image }}"
          styleClass="mt-1"
          [ngStyle]="{ cursor: 'pointer',  }"
          size="normal"
          shape="circle"
        ></p-avatar>
        <p-overlayPanel #op>
          <div class="flex flex-column w-15rem avt-group">
            <!-- Avatar Infor -->
            <div class="flex flex-row items-center gap-2 pb-3 border-b">
              <img
                [ngStyle]="{
                  width: '3rem',
                  height: '3rem',
                  'border-radius': '100%'
                }"
                src="{{ user.profile_image }}"
              />
              <div class="flex flex-col">
                <p class="text-gray-900 m-0">{{ user.fullName }}</p>
                <span class="text-gray-500 text-sm m-0">{{ user.email }}</span>
              </div>
            </div>

            <!-- Point -->
            <div
              class="point flex flex-col items-cennter justify-between py-3 border-b"
            >
              <div class="flex flex-row items-cennter justify-between">
                <p class="text-gray-700 text-sm">Xu</p>
                <div class="flex flex-row items-center gap-1">
                  <p class="text-gray-700 text-sm">
                    {{ totalCoin | number : "1.0-0" }}
                  </p>
                  <lord-icon
                    src="https://cdn.lordicon.com/lxizbtuq.json"
                    trigger="hover"
                    style="width: 20px; height: 20px"
                  >
                  </lord-icon>
                </div>
              </div>
              <button
                (click)="this.redirectToDepositPoint()"
                type="button"
                class="text-center items-center mt-2 px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700"
              >
                Nạp xu tại đây
              </button>
            </div>

            <!-- Profile -->
            <div class="py-3 border-b">
              <p
                (click)="this.redirectToProfile()"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Trang cá nhân
              </p>
            </div>

            <!-- Blog -->
            <div class="py-3 border-b">
              <p
                (click)="this.redirectToWriteBlog()"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Viết Blog
              </p>
            </div>

            <!-- History Point -->
            <div class="py-3 border-b">
              <p
                (click)="this.redirectToCart()"
                class="text-gray-700 text-md mb-3 hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Giỏ hàng
              </p>
              <p
                (click)="redirectToHistoryPoint()"
                class="text-gray-700 text-md mb-3 hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Lịch sử nhận xu
              </p>
              <p
                (click)="redirectToTransactionHistory()"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Lịch sử giao dịch
              </p>
            </div>

            <!-- Setting -->
            <div class="py-3">
              <p
                (click)="this.redirectToSettingPersonal()"
                class="text-gray-700 text-md mb-3 hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Cài đặt
              </p>
              <p
                (click)="this.logout()"
                class="text-gray-700 text-md hover:font-bold hover:text-gray-900 cursor-pointer"
              >
                Đăng xuất
              </p>
            </div>
          </div>
        </p-overlayPanel>

        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </ng-container>
      <ng-template #unLogin>
        <button
          (click)="openDialogSignIn()"
          class="text-white bg-gradient-to-r from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium px-5 py-2.5 rounded-lg text-md text-center"
        >
          <p class="w-full">Đăng nhập</p>
        </button>
      </ng-template>
    </div>
  </div>
</div>
