<p-toast [life]="1000"></p-toast>
<div class="nav-info">
  <!-- <div class="group-logo flex flex-row items-center justify-content-end">
    <div class="flex flex-row items-center gap-2">
      <div class="group-contact flex flex-row items-center">
        <p>Hỗ trợ</p>
        <p>Liên hệ</p>
        <p>Trở thành giảng viên</p>
      </div>
    </div>
  </div> -->
  <div
    [ngStyle]="{ 'background-color': '#fff' }"
    class="w-full flex flex-row items-center"
  >
    <div class="nav-left w-full flex items-center">
      <div class="flex flex-row items-center w-[14rem]">
        <img class="img-logo" src="{{ Logo }}" alt="Logo" />
        <h1 class="title">UNICOURSE</h1>
      </div>
      <div
        (click)="navigateToHome()"
        class="logo flex flex-col items-center justify-center"
      ></div>
      <div
        class="nav-items flex flex-row justify-content-center align-items-center text-center"
      >
        <p
          (click)="navigateToHome()"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Trang chủ
        </p>
        <p
          routerLink="/blog"
          [queryParams]="{ page: 1 }"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Bài viết
        </p>
        <p (click)="joinRoom('65ebe4d2d0cb58ef9cb250cc')" class="nav-item">
          Cộng đồng
        </p>
        <p-megaMenu [model]="items1" styleClass="flex flex-row"> </p-megaMenu>
      </div>

      <div class="flex flex-row items-center gap-2">
        <span class="search p-input-icon-left">
          <i class="pi pi-search"></i>
          <input placeholder="Tìm kiếm khóa học" type="text" pInputText />
        </span>
      </div>
    </div>
    <div class="nav-right flex flex-row gap-2">
      <ng-container *ngIf="user; else unLogin">
        <i
          (click)="redirectToCart()"
          class="pi pi-shopping-cart mr-4 p-text-secondary"
          pBadge
          style="font-size: 2rem; cursor: pointer; color: #000"
          value="{{ lengthOfCartItems }}"
          severity="danger"
        ></i>

        <p-avatar
          (click)="menu.toggle($event)"
          image="{{ user.profile_image }}"
          styleClass="mr-2 mt-1"
          [ngStyle]="{ cursor: 'pointer',  }"
          size="normal"
          shape="circle"
        ></p-avatar>

        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </ng-container>
      <ng-template #unLogin>
        <button (click)="openDialogSignIn()" class="btn-sign-in w-2/3">
          <p class="w-full">Đăng nhập</p>
        </button>
        <button
          (click)="openDialogSignUp()"
          class="text-white bg-gradient-to-r from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium px-5 py-2.5 rounded-lg text-sm text-center"
        >
          <p class="w-full">Đăng ký</p>
        </button>
      </ng-template>
    </div>
  </div>
</div>
