<div *ngIf="courseDetail" class="container">
  <p-blockUI [blocked]="blockedUI"
    ><p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <app-header></app-header>
  <div class="body-container">
    <!-- Breachrum Group-->
    <nav class="flex" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li>
          <div class="flex flex-row items-center">
            <a
              [routerLink]="['/']"
              ariaCurrentWhenActive="page"
              class="mr-1 ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
              >Trang chủ</a
            >
          </div>
        </li>
        /
        <li aria-current="page">
          <div class="flex items-center">
            <span
              class="w-25 ms-1 text-sm font-medium text-gray-950 md:ms-2 font-bold"
              >{{ courseDetail.title }}</span
            >
          </div>
        </li>
      </ol>
    </nav>
    <!-- CSS Loading component -->
    <ng-template [ngIf]="!courseDetail">
      <div
        role="status"
        class="space-y-8 animate-pulse space-y-0 space-x-8 rtl:space-x-reverse flex items-center mb-4"
      >
        <div
          class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700"
        >
          <svg
            class="w-10 h-10 text-gray-200 dark:text-gray-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 18"
          >
            <path
              d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
            />
          </svg>
        </div>
        <div class="w-full ml-4">
          <div
            class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
          ></div>
          <div
            class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mb-2.5"
          ></div>
          <div
            class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"
          ></div>
          <div
            class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[440px] mb-2.5"
          ></div>
          <div
            class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[460px] mb-2.5"
          ></div>
          <div
            class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"
          ></div>
        </div>
        <span class="sr-only">Loading...</span>
      </div>

      <div class="grid grid-cols-2 gap-2 mb-4 max-w-full m-auto">
        <div
          *ngFor="let _ of [].constructor(6); let i = index"
          role="status"
          class="space-y-2.5 animate-pulse max-w-lg mb-4"
        >
          <div class="flex items-center w-full">
            <div
              class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
          </div>
          <div class="flex items-center w-full max-w-[480px]">
            <div
              class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
            ></div>
          </div>
          <div class="flex items-center w-full max-w-[400px]">
            <div
              class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
          </div>
          <div class="flex items-center w-full max-w-[480px]">
            <div
              class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
            ></div>
          </div>
          <div class="flex items-center w-full max-w-[440px]">
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-32"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"
            ></div>
          </div>
          <div class="flex items-center w-full max-w-[360px]">
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"
            ></div>
            <div
              class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
            ></div>
          </div>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>

    <!-- Course card -->
    <ng-template [ngIf]="courseDetail !== undefined">
      <div class="flex flex-row pt-2 pb-4">
        <!-- Description course -->
        <div class="col-8">
          <h3
            class="mb-4 text-5xl font-customFont font-bold leading-none tracking-tight text-gray-900"
          >
            {{ courseDetail.title }}
          </h3>
          <p
            class="mb-4 text-xl text-base font-customFont font-normal text-gray-900"
          >
            Hiểu sâu hơn về cách Javascript hoạt động, tìm hiểu về IIFE,
            closure, reference types, this keyword, bind, call, apply,
            prototype,...
          </p>
          <div class="will-learn">
            <h3
              class="mb-4 text-2xl font-customFont font-bold leading-none tracking-tight text-gray-900"
            >
              Nội dung bài học
            </h3>
            <div class="m-0">
              <!-- List content -->
              <ul class="max-w-full space-y-5 text-gray-900 list-inside">
                <li class="grid grid-cols-2 gap-x-5 m-0 mb-3 items-baseline">
                  <div
                    class="flex flex-row"
                    [style]="{ 'alight-items': 'start' }"
                  >
                    <i
                      class="pi pi-check mr-2"
                      [style]="{
                        'font-weight': '600',
                        'padding-top': '5px'
                      }"
                    ></i>
                    <span class="text-justify font-customFont"
                      >Được học kiến thức miễn phí với nội dung chất lượng hơn
                      mất phí</span
                    >
                  </div>
                  <div
                    class="flex flex-row"
                    [style]="{ 'alight-items': 'start' }"
                  >
                    <i
                      class="pi pi-check mr-2"
                      [style]="{
                        'font-weight': '600',
                        'padding-top': '5px'
                      }"
                    ></i>
                    <span class="text-justify font-customFont"
                      >Hiểu được cách tư duy nâng cao của các lập trình viên có
                      kinh nghiệm</span
                    >
                  </div>
                </li>
                <li class="grid grid-cols-2 gap-x-5 m-0 mb-3 items-baseline">
                  <div
                    class="flex flex-row"
                    [style]="{ 'alight-items': 'start' }"
                  >
                    <i
                      class="pi pi-check mr-2"
                      [style]="{
                        'font-weight': '600',
                        'padding-top': '5px'
                      }"
                    ></i>
                    <span class="text-justify font-customFont"
                      >Có nền tảng Javascript vững chắc để làm việc với mọi thư
                      viện, framework viết bởi Javascript</span
                    >
                  </div>
                  <div
                    class="flex flex-row"
                    [style]="{ 'alight-items': 'start' }"
                  >
                    <i
                      class="pi pi-check mr-2"
                      [style]="{
                        'font-weight': '600',
                        'padding-top': '5px'
                      }"
                    ></i>
                    <p class="text-justify font-customFont">
                      Các kiến thức nâng cao của Javascript giúp code trở nên
                      tối ưu hơn
                    </p>
                  </div>
                </li>
                <li class="grid grid-cols-2 gap-x-5 m-0 mb-3 items-baseline">
                  <div class="flex flex-row items-start">
                    <span
                      ><i
                        class="pi pi-check mr-2"
                        [style]="{
                          'font-weight': '600',
                          'padding-top': '5px'
                        }"
                      ></i
                    ></span>
                    <p class="text-justify font-customFont">
                      Hiểu được các khái niệm khó như từ khóa this, phương thức
                      bind, call, apply & xử lý bất đồng bộ
                    </p>
                  </div>
                  <div
                    class="flex flex-row"
                    [style]="{ 'alight-items': 'start' }"
                  >
                    <i
                      class="pi pi-check mr-2"
                      [style]="{
                        'font-weight': '600',
                        'padding-top': '5px'
                      }"
                    ></i>
                    <p class="text-justify font-customFont">
                      Nâng cao cơ hội thành công khi phỏng vấn xin việc nhờ kiến
                      thức chuyên môn vững chắc
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Source video course -->
          <div class="mt-10">
            <h3
              class="mb-2 text-2xl font-customFont font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white"
            >
              Nội dung khóa học
            </h3>
            <p
              class="mb-4 text-base font-customFont font-normal text-gray-900 lg:text-base dark:text-gray-900"
            >
              <span class="text-gray-900 font-bold">{{ numberChapter }}</span>
              chương<span class="text-gray-900 font-extrabold"> • </span>
              <span class="text-gray-900 font-bold">{{ numberLesson }}</span>
              bài học •
              <span class="text-gray-900 font-bold">3 giờ 5 phút </span> tổng
              thời lượng
            </p>
            <div class="card flex justify-content-center">
              <app-list-track
                class="w-full"
                [tracks]="courseDetail.tracks"
              ></app-list-track>
            </div>
          </div>

          <!-- Require Course -->
          <div class="require-course mt-10">
            <h3
              class="mb-2 text-3xl font-customFont font-bold leading-none tracking-tight text-gray-900 dark:text-white"
            >
              Mô tả
            </h3>
            <div class="m-0 flex flex-column gap-2">
              <p class="text-[1.1rem]">
                Bạn đang tìm hiểu về Lean Six Sigma và muốn trang bị mình với
                kiến thức và kỹ năng cần thiết để giải quyết các vấn đề chất
                lượng một cách hiệu quả? Khóa học 7 Công Cụ Chất Lượng cho Lean
                Six Sigma Yellow Belt là lựa chọn hoàn hảo cho bạn,
              </p>
              <p class="text-[1.1rem]">
                Bạn đang tìm hiểu về Lean Six Sigma và muốn trang bị mình với
                kiến thức và kỹ năng cần thiết để giải quyết các vấn đề chất
                lượng một cách hiệu quả? Khóa học 7 Công Cụ Chất Lượng cho Lean
                Six Sigma Yellow Belt là lựa chọn hoàn hảo cho bạn,
              </p>
              <p class="text-[1.1rem]">
                Bạn đang tìm hiểu về Lean Six Sigma và muốn trang bị mình với
                kiến thức và kỹ năng cần thiết để giải quyết các vấn đề chất
                lượng một cách hiệu quả? Khóa học 7 Công Cụ Chất Lượng cho Lean
                Six Sigma Yellow Belt là lựa chọn hoàn hảo cho bạn,
              </p>
            </div>
          </div>

          <!-- Lecture Info -->
          <div class="lecture-info mt-10">
            <h3
              class="mb-2 text-3xl font-customFont font-bold leading-none tracking-tight text-gray-900 dark:text-white"
            >
              Giảng viên
            </h3>
            <div class="m-0 flex flex-column gap-2">
              <div class="main-info mt-2">
                <p class="font-bold text-xl">Nguyễn Thành Đạt</p>
                <span class="text-[#6a6f73] text-xl"
                  >Embedded Software Engineer / Instructor / Blogger</span
                >
                <div class="avt-info flex flex-row align-start gap-3 mt-4">
                  <img
                    class="avt"
                    src="https://img-b.udemycdn.com/user/200_H/14162320_c201.jpg"
                  />
                  <div class="flex flex-column gap-3">
                    <div class="flex flex-row items-center gap-2">
                      <i class="pi pi-star-fill" style="font-size: 1.2rem"></i>
                      <p class="text-[1.1rem]">3,8 xếp hạng giảng viên</p>
                    </div>
                    <div class="flex flex-row items-center gap-2">
                      <i class="pi pi-verified" style="font-size: 1.2rem"></i>
                      <p class="text-[1.1rem]">638 đánh giá</p>
                    </div>
                    <div class="flex flex-row items-center gap-2">
                      <i class="pi pi-users" style="font-size: 1.2rem"></i>
                      <p class="text-[1.1rem]">3,8 xếp hạng giảng viên</p>
                    </div>
                    <div class="flex flex-row items-center gap-2">
                      <i class="pi pi-video" style="font-size: 1.2rem"></i>
                      <p class="text-[1.1rem]">2 khóa học</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <p class="text-[1.1rem]">
                  Đạt là Embdded Software Engineer với hơn 5 năm kinh nghiệm,
                  trong đó hơn 2 năm đầu làm việc ở Việt Nam và 3 năm, hiện nay,
                  ở Singapore. Công việc chính của mình là nghiên cứu và phát
                  triển các dự án Embedded viết bằng C/C++ và một số ngôn ngữ
                  khác.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 course-info-right">
          <app-course-detail
            [course]="courseDetail"
            [number]="numberLesson"
          ></app-course-detail>
        </div>
      </div>

      <!--Recomment course -->
      <!-- <div class="mt-10">
        <h3
          class="mb-4 text-2xl font-customFont font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white"
        >
          Khóa học phổ biến
        </h3>
        <div
          class="grid grid-cols-3 gap-2 m-0 w-full place-items-center"
          [style]="{ 'max-height': '8rem', height: '8rem' }"
        >
          <app-course-list
            *ngFor="let course of coursesFree | slice : 0 : 3"
            [course]="course"
          ></app-course-list>
        </div>
      </div> -->

      <!--Lecturers group-->
      <!-- <div class="mt-10">
        <div
          class="grid grid-cols-3 gap-4"
          [style]="{ width: '80%', margin: 'auto' }"
        >
          <app-lecturer-card></app-lecturer-card>
          <app-lecturer-card></app-lecturer-card>
          <app-lecturer-card></app-lecturer-card>
        </div>
      </div> -->
    </ng-template>
  </div>
</div>
