// Khai báo biến
$bg-color: #2d2f31;

.container {
  .title-description {
    padding: 2% 10%;
    background-color: $bg-color;
    border: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }
  max-width: 100%;
  .body-container {
    padding: 0% 10%;
    margin: auto;
    .p-card-content {
      padding: 0;
    }
    .card-container {
      padding: 0;
      .content {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
      }
    }
    .will-learn {
      padding: 2rem;
      border: 1px solid #e0e0e0;
    }
    .course-info-right {
      position: absolute;
      top: 18%;
      right: 7%;
      width: 30%;
    }
    .main-info {
      .avt {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
      }
    }
  }
}
