.container {
  max-width: 100%;
  .body-container {
    padding: 0% 10%;
    margin: auto;
    .p-card-content {
      padding: 0;
    }
    .card-container {
      padding: 0;
      .content {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
      }
    }
    .will-learn {
      padding: 2rem;
      border: 1px solid #e0e0e0;
    }
    .course-info-right {
      position: fixed;
      right: 7%;
      width: 30%;
    }
    .main-info {
      .avt {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
      }
    }
  }
}
