.container {
  max-width: 100%;
  .body-container {
    width: 90%;
    margin: auto;
    .p-card-content {
      padding: 0;
    }
    .card-container {
      padding: 0;
      .content {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
      }
    }
  }
}
