<footer class="footer">
  <!-- Cụm phần tử đầu -->
  <div class="footer__group_one">
    <div class="footer__contact">
      <img class="footer__contact-logo" src="{{ LOGO_FOOTER }}" alt="logo" />
      <p class="footer__contact-phone">094 283 34 63</p>
      <p class="footer__contact-email">
        unicourse.learningplatform&#64;gmail.com
      </p>
      <p class="footer__contact-address">
        Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ, Thành Phố Thủ Đức, Thành phố
        Hồ Chí Minh 700000
      </p>
    </div>

    <div class="footer__section">
      <h2 class="footer__section-title">Khóa học</h2>
      <p class="footer__section-item">Khóa theo chuyên ngành</p>
      <p class="footer__section-item">Khóa học miễn phí</p>
      <p class="footer__section-item">Quiz sau mỗi khóa học</p>
    </div>

    <div class="footer__section">
      <h2 class="footer__section-title">Cộng đồng</h2>
      <p class="footer__section-item">Học viên</p>
      <p class="footer__section-item">Giảng viên</p>
      <p class="footer__section-item">Chat Room</p>
      <p class="footer__section-item">Blog</p>
    </div>

    <div class="footer__section">
      <h2 class="footer__section-title">Quick links</h2>
      <p class="footer__section-item">Trang chủ</p>
      <p class="footer__section-item">Bài viết</p>
      <p class="footer__section-item">Khóa học</p>
      <p class="footer__section-item">Cộng đồng IT</p>
    </div>

    <div class="footer__section">
      <h2 class="footer__section-title">More</h2>
      <p class="footer__section-item">Ủng hộ Unicourse</p>
      <p class="footer__section-item">Chính sách</p>
      <p class="footer__section-item">Hỗ trợ</p>
      <p class="footer__section-item">
        Lĩnh vực: Công nghệ, giáo dục, lập trình.
      </p>
    </div>
  </div>

  <!-- Cụm phần tử thứ 2 -->
  <div class="footer__group_two">
    <div class="footer__payment">
      <h2 class="footer__payment-title">Thanh toán</h2>
      <div class="footer__payment-methods">
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/PayPal_Logo.webp"
          alt="paypal_logo"
        />
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/VietQR_Logo.webp"
          alt="vietqr_logo"
        />
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/MasterCard_Logo.svg"
          alt="mastercard_logo"
        />
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/VISA_Logo.svg"
          alt="visa_logo"
        />
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/ZaloPay_Logo.svg"
          alt="zalopay_logo"
        />
        <img
          class="footer__payment-logo"
          src="assets/icons/payment/VNPAY_Logo.webp"
          alt="vnpay_logo"
        />
      </div>
    </div>
  </div>

  <!-- Cụm phần tử thứ 3 -->
  <div class="footer__group_three">
    <div class="footer__headquarters">
      <h2 class="footer__headquarters-title">TRỤ SỞ CHÍNH</h2>
      <p class="footer__headquarters-address">
        Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ, Thành Phố Thủ Đức, Thành phố
        Hồ Chí Minh 700000
      </p>
    </div>
  </div>

  <!-- Cụm phần tử thứ 4 -->
  <div class="footer__group_four">
    <div class="footer__legal">
      <p class="footer__legal-text">
        ©2024 Unicourse.co là nền tảng giáo dục xây dựng bởi nhóm sinh viên FPT
        <br />
        Sử dụng nội dung ở trang này và dịch vụ tại
        <a class="footer__legal-link">Unicourse</a>
        có nghĩa là bạn đồng ý với
        <a class="footer__legal-link">Thỏa thuận sử dụng</a>
        và
        <a class="footer__legal-link">Chính sách bảo mật</a>
        của chúng tôi.
      </p>
      <!-- Social -->
      <div class="footer__social">
        <a href="https://www.facebook.com/profile.php?id=61559287804624">
          <lord-icon
            src="https://cdn.lordicon.com/tvdywkru.json"
            trigger="hover"
            style="width: 50px; height: 50px"
          >
          </lord-icon>
        </a>

        <a href="https://www.tiktok.com/@_unicourse">
          <lord-icon
            src="https://cdn.lordicon.com/njdhzovn.json"
            trigger="hover"
            style="width: 50px; height: 50px"
          >
          </lord-icon>
        </a>
      </div>
    </div>
  </div>
</footer>