footer {
  padding: 3% 10% !important;
  margin: 0 !important;
  background-color: black;
  color: #a9b3bb !important;
  h2 {
    color: white !important;
    margin-bottom: 0.7rem !important;
  }
  .logo {
    width: 10rem;
    margin-bottom: 0.5rem;
  }
  .info-payment-down-app {
    border-top: 1px solid #a9b3bb;
    padding-top: 1rem;
  }
  .info-social {
    border-top: 1px solid #a9b3bb;
    padding-top: 1rem;
  }
}
