<app-header></app-header>
<div class="container">
  <!-- Thực hiện việc blockUI khi gọi các API  -->
  <p-blockUI [blocked]="isBlockUI"
    ><p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <p-scrollTop
    [threshold]="100"
    class="bg-orange-600 custom-scroll-top"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
  <div class="card">
    <section class="wrap-header">
      <div class="nav-header-menu"></div>

      <div class="main-menu grid grid-cols-12 gap-4">
        <p-carousel
          class="col-span-8 slide-banner"
          [value]="this.dataBanner"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="false"
          [autoplayInterval]="7000"
        >
          <ng-template let-banner pTemplate="item">
            <a href="{{ banner.href }}" target="_blank">
              <img
                src="{{ banner.img }}"
                [alt]="banner.title"
                class="w-full p-0 h-[35rem]"
              />
            </a>
          </ng-template>
        </p-carousel>

        <!-- Hiển thị lịch booking -->
        <div
          class="h-[35rem] header-right-content col-span-4 bg-[#D8EFFF] rounded-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <!-- Hiển thị thời gian -->
          <div class="clock-time w-full h-2/5">
            <img
              class="w-full h-full"
              src="https://i.pinimg.com/564x/38/16/b1/3816b1e8a43c28b0bb32bdcc3c68e14c.jpg"
            />

            <!-- Đếm thời gian hiện tại -->
            <div class="count-time">
              <p class="first-text">{{ currentDateTime | date : "h:mm a" }}</p>
              <p class="second-text">
                {{ currentDateTime | date : "EEEE, MMMM d, y" }}
              </p>
            </div>

            <!-- Hiển thị lịch học / section -->
            <div class="section-study">
              <ng-container
                *ngIf="
                  dataScheduleMeetings.length > 0;
                  else emptyDataScheduleMeeting
                "
              >
                <div
                  *ngFor="let data of dataScheduleMeetings"
                  class="section-study-obj"
                >
                  <div class="flex flex-column items-start">
                    <div class="flex flex-row items-center gap-2">
                      <p class="title p-0">{{ data.title }}</p>
                      <!-- Giá và nút đăng ký -->
                      <div class="price-register flex flex-row">
                        <ng-container
                          *ngIf="
                            checkUserRegisterScheduleMeeting(data);
                            else userNotRegisterScheduleMeeting
                          "
                        >
                          <button
                            type="button"
                            class="text-white bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-4 py-2 text-center"
                          >
                            Đã đăng ký
                          </button>
                        </ng-container>
                        <ng-template #userNotRegisterScheduleMeeting>
                          <button
                            (click)="toggleRegisterScheduleMeeting(data)"
                            type="button"
                            class="text-white bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-4 py-2 text-center"
                          >
                            Tham gia
                          </button>
                        </ng-template>
                      </div>
                    </div>

                    <h2 class="host-name">HOST: {{ data.lecture.fullName }}</h2>
                  </div>

                  <!-- Thời gian -->
                  <div class="duration flex flex-row">
                    <p class="time-start mr-2">
                      {{ data.timeStart | date : "h:mm a" }}
                    </p>
                    -
                    {{ data.timeEnd | date : "h:mm a" }}
                    <p class="ml-3">
                      {{ data.timeStart | date : "EEEE, MMMM d, y" }}
                    </p>
                  </div>

                  <span
                    class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
                    >{{ data.price | number : "1.0-0" }} Point</span
                  >
                </div>
                <a
                  href="#"
                  class="view-all bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center"
                  >Xem tất cả</a
                >
              </ng-container>
              <ng-template #emptyDataScheduleMeeting>
                <p class="text-[1.2rem] w-full h-full text-center mt-2">
                  Hiện tại chưa có lịch giảng nào!
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- My leanring unit -->
  <div
    *ngIf="myCourses && myCourses.length > 0 && userInfo"
    class="my-learning-unit bg-white rounded-lg shadow-md"
  >
    <h1 class="text-2xl font-bold mb-4">
      {{ userInfo.fullName }} ơi, hãy bắt đầu học nào
    </h1>
    <div class="relative h-auto">
      <div
        class="flex space-x-4 h-full overflow-x-scroll no-scrollbar"
        id="carousel"
      >
        <div
          *ngFor="let enrollCourse of this.myCourses"
          class="course-card h-auto bg-gray-100 p-4 rounded-lg shadow-md min-w-[300px] max-w-[300px]"
        >
          <div class="relative pb-16/9" *ngIf="enrollCourse.course">
            <img
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              [src]="enrollCourse.course && enrollCourse.course.thumbnail"
              alt="Course image"
            />
            <button
              class="absolute inset-0 flex items-center justify-center text-white bg-black bg-opacity-50 rounded-lg"
              routerLink="/course/{{ enrollCourse.course._id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-10 w-10"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14.752 11.168l-5.197 3.029A1 1 0 019 13.369V6.631a1 1 0 011.555-.832l5.197 3.029a1 1 0 010 1.664z"
                />
              </svg>
            </button>
          </div>
          <h2 class="mt-4 text-lg font-semibold" *ngIf="enrollCourse.course">
            {{ enrollCourse.course.title }}
          </h2>
          <p class="text-gray-500" *ngIf="enrollCourse.course">
            {{ enrollCourse.course.lecture.fullName }}
          </p>
        </div>
      </div>
      <button
        *ngIf="myCourses.length >= 5"
        class="carousel-button left"
        (click)="scrollLeft()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button
        *ngIf="myCourses.length >= 5"
        class="carousel-button right"
        (click)="scrollRight()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Checking Daily -->
  <div class="checking-daily">
    <ng-container *ngIf="!userInfo; else userLogged">
      <div
        class="content left flex flex-column justify-content-center align-items-center"
      >
        <div class="coin-already gap-0">
          <lord-icon
            src="https://cdn.lordicon.com/jtiihjyw.json"
            trigger="hover"
            style="width: 100px; height: 100px"
          >
          </lord-icon>
          <p class="coin-text">Tổng xu {{ getTotalCoin }}</p>
        </div>
        <div class="day-container">
          <ng-container
            *ngFor="let event of dataCheckingDailyEvent; index as i"
          >
            <ng-container
              *ngIf="checkEventToday(event.day); else NotEventToday"
            >
              <div class="day-detail">
                <div class="form-coin-active">
                  <span>+100</span>
                  <lord-icon
                    src="https://cdn.lordicon.com/lxizbtuq.json"
                    trigger="hover"
                    style="width: 50px; height: 50px"
                  >
                  </lord-icon>
                </div>

                <p class="active-day">Hôm nay</p>
                <div
                  (click)="attendCheckingDailyEvent(event._id)"
                  class="btn-take-coin bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                >
                  <p class="m-0">Nhận ngay 100 Xu</p>
                </div>
              </div>
            </ng-container>
            <ng-template #NotEventToday>
              <div class="day-detail">
                <div class="form-coin">
                  <span>+{{ event.coin }}</span>
                  <lord-icon
                    src="https://cdn.lordicon.com/lxizbtuq.json"
                    trigger="hover"
                    style="width: 50px; height: 50px"
                  >
                  </lord-icon>
                </div>
                <p>Ngày {{ i + 1 }}</p>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #userLogged>
      <div
        class="content left flex flex-column justify-content-center align-items-center"
      >
        <div class="coin-already gap-0">
          <lord-icon
            src="https://cdn.lordicon.com/jtiihjyw.json"
            trigger="hover"
            style="width: 100px; height: 100px"
          >
          </lord-icon>
          <p class="coin-text">Tổng xu {{ getTotalCoin | number : "1.0-0" }}</p>
          <i
            routerLink="/uni-coins"
            class="pi pi-angle-right"
            style="font-size: 2rem"
            pTooltip="Xem chi tiết Point của bạn"
          ></i>
        </div>
        <div class="day-container">
          <ng-container
            *ngFor="let event of dataCheckingDailyEvent; index as i"
          >
            <ng-container
              *ngIf="checkEventToday(event.day); else NotEventToday"
            >
              <div class="day-detail">
                <div class="form-coin-active">
                  <span>+100</span>
                  <lord-icon
                    src="https://cdn.lordicon.com/lxizbtuq.json"
                    trigger="hover"
                    style="width: 100px; height: 100px"
                  >
                  </lord-icon>
                </div>

                <ng-container
                  *ngIf="
                    checkUserJoinEvent(event.list_users);
                    else expiredAndNotCheckin
                  "
                >
                  <div class="flex items-center justify-center">
                    <img
                      [ngStyle]="{ width: '3rem' }"
                      class="flex items-center"
                      src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/00d5f0b0136ba898b7684a755f587183.png"
                    />
                  </div>

                  <div
                    class="btn-take-coin-back bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                  >
                    <p class="m-0">Quay lại vào ngày mai để nhận 100 Point</p>
                  </div>
                </ng-container>
                <ng-template #expiredAndNotCheckin>
                  <p class="active-day">Hôm nay</p>
                  <div
                    (click)="attendCheckingDailyEvent(event._id)"
                    class="btn-take-coin bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                  >
                    <p class="m-0">Nhận ngay 100 Xu</p>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #NotEventToday>
              <ng-container
                *ngIf="checkEventExpired(event.day); else isNotExpired"
              >
                <div class="day-detail">
                  <div class="form-coin">
                    <span>+{{ event.coin }}</span>
                    <lord-icon
                      src="https://cdn.lordicon.com/lxizbtuq.json"
                      trigger="hover"
                      style="width: 50px; height: 50px"
                    >
                    </lord-icon>
                  </div>
                  <ng-container
                    *ngIf="
                      checkUserJoinEvent(event.list_users);
                      else expiredAndNotCheckin
                    "
                  >
                    <div class="flex items-center justify-center">
                      <img
                        [ngStyle]="{ width: '3rem' }"
                        class="flex items-center"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/00d5f0b0136ba898b7684a755f587183.png"
                      />
                    </div>
                  </ng-container>
                  <ng-template #expiredAndNotCheckin>
                    <p [ngStyle]="{ color: '#f09d8c', 'font-weight': 'bold' }">
                      Quá hạn
                    </p>
                  </ng-template>
                </div>
              </ng-container>
              <ng-template #isNotExpired>
                <div class="day-detail">
                  <div class="form-coin">
                    <span>+{{ event.coin }}</span>
                    <lord-icon
                      src="https://cdn.lordicon.com/lxizbtuq.json"
                      trigger="hover"
                      style="width: 50px; height: 50px"
                    >
                    </lord-icon>
                  </div>
                  <p>Ngày {{ i + 1 }}</p>
                </div>
              </ng-template>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Các khoá học đề xuất -->
  <div
    *ngIf="dataRecommenCourses && dataRecommenCourses.length > 0"
    class="my-learning-unit bg-white rounded-lg shadow-md"
  >
    <h1 class="text-2xl font-bold mb-4">Được đề xuất cho bạn</h1>
    <div class="relative h-auto">
      <div
        class="flex space-x-4 h-full overflow-x-scroll no-scrollbar"
        id="carousel"
      >
        <div
          *ngFor="let course of this.dataRecommenCourses"
          class="course-card h-auto bg-gray-100 p-4 rounded-lg shadow-md min-w-[300px] max-w-[300px]"
        >
          <div class="relative pb-16/9">
            <img
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              [src]="course.thumbnail"
              alt="Course image"
            />
            <button
              class="absolute inset-0 flex items-center justify-center text-white bg-black bg-opacity-50 rounded-lg"
              routerLink="/course/{{ course._id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-10 w-10"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14.752 11.168l-5.197 3.029A1 1 0 019 13.369V6.631a1 1 0 011.555-.832l5.197 3.029a1 1 0 010 1.664z"
                />
              </svg>
            </button>
          </div>
          <h2 class="mt-4 text-lg font-semibold">
            {{ course.title }}
          </h2>
          <p class="text-gray-500">
            {{ course.lecture.fullName }}
          </p>
        </div>
      </div>
      <button
        *ngIf="dataRecommenCourses.length >= 5"
        class="carousel-button left"
        (click)="scrollLeft()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button
        *ngIf="dataRecommenCourses.length >= 5"
        class="carousel-button right"
        (click)="scrollRight()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Các khóa học có phí-->
  <ng-container *ngIf="this.listCourseFee && this.listCourseFee.length > 0">
    <div class="semester">
      <span
        [ngStyle]="{
          color: '#82919b',
          'font-size': '14px',
          'font-weight': '600'
        }"
        >99+ người đã học</span
      >
      <div class="title flex flex-row relative">
        <div class="flex flex-row gap-1">
          <h1
            class="text-3xl"
            [ngStyle]="{ color: '#242424', 'font-weight': '900' }"
          >
            Khoá học Pro
          </h1>
          <p-badge [value]="'Mới nhất'" severity="info"></p-badge>
        </div>
        <div class="road-map">
          <p>Xem lộ trình</p>
          <i class="icon pi pi-angle-right" style="font-size: 1.2rem"></i>
        </div>
      </div>

      <div class="flex flex-wrap align-items-center justify-content-start">
        <div *ngFor="let course of listCourseFee" class="course col-3">
          <img
            (mouseenter)="op.show($event)"
            (mouseleave)="op.hide()"
            src="{{ course.thumbnail }}"
            [ngStyle]="{ cursor: 'pointer' }"
            (click)="hanleGetCourseDetail(course._id)"
          />
          <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-35rem px-2">
              <div class="intro-info-course flex flex-col">
                <span class="font-bold text-2xl text-gray-900 block mb-1">{{
                  course.title
                }}</span>
                <span class="text-[#1E6054] font-normal text-sm my-1"
                  >Cập nhật gần nhất
                  {{ course.updated_at | date : "dd/MM/yyy" }}</span
                >
                <span class="text-gray-700 text-sm my-2"
                  >Tổng số {{ course.tracks.length }} bài học • Tất cả trình
                  độ</span
                >
                <div>
                  <p class="text-xl font-bold text-gray-900">
                    Bạn sẽ học được gì ?
                  </p>
                  <ul
                    class="space-y-1 text-left text-gray-500 dark:text-gray-400"
                  >
                    <li
                      *ngFor="let item of course.subTitleDescription"
                      class="flex items-center m-1 rtl:space-x-reverse"
                    >
                      <svg
                        class="flex-shrink-0 mr-1 w-3.5 h-3.5 text-green-700 dark:text-green-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 16 12"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5.917 5.724 10.5 15 1.5"
                        />
                      </svg>
                      <span class="text-gray-700">{{ item }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </p-overlayPanel>
          <h3 class="m-0 text-xl text-black">
            {{ course.title }}
          </h3>
          <span>{{ course.lecture.fullName }}</span>
          <div class="flex flex-row gap-1 items-center">
            <div class="flex flex-row w-[6rem]">
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>
            <span
              >({{ course.lecture.lecture_info.feedback.length }} tổng xếp hạng
              )</span
            >
          </div>
          <ng-container *ngIf="this.course.amount > 0; else courseFree">
            <h3 class="mb-1 mt-1 text-lg text-black">
              {{ course.amount | currency : "VND" }}
            </h3>
          </ng-container>
          <ng-template #courseFree>
            <h3 class="mb-1 mt-1 text-lg text-black">Miễn phí</h3>
          </ng-template>
          <div class="flex flex-row gap-2 align-items-center">
            <i class="pi pi-users" style="color: #708090"></i>
            <span>{{ course.enrollmentCount }} người đã tham gia</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Các khóa học của miễn phí -->
  <ng-container *ngIf="this.listCourseFree && this.listCourseFree.length > 0">
    <div class="semester">
      <span
        [ngStyle]="{
          color: '#82919b',
          'font-size': '14px',
          'font-weight': '600'
        }"
        >99+ người đã học</span
      >
      <div class="title flex flex-row relative">
        <div class="flex flex-row gap-1">
          <h1
            class="text-3xl"
            [ngStyle]="{ color: '#242424', 'font-weight': '900' }"
          >
            Khóa học miễn phí
          </h1>
          <p-badge [value]="'Nổi bật'" severity="danger"></p-badge>
        </div>
        <div class="road-map">
          <p>Xem lộ trình</p>
          <i class="icon pi pi-angle-right" style="font-size: 1.2rem"></i>
        </div>
      </div>

      <div class="flex flex-wrap align-items-center justify-content-start">
        <div *ngFor="let course of listCourseFree" class="course col-3">
          <img
            (mouseenter)="op.show($event)"
            (mouseleave)="op.hide()"
            src="{{ course.thumbnail }}"
            [ngStyle]="{ cursor: 'pointer' }"
            (click)="hanleGetCourseDetail(course._id)"
          />
          <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-35rem px-2">
              <div class="intro-info-course flex flex-col">
                <span class="font-bold text-2xl text-gray-900 block mb-1">{{
                  course.title
                }}</span>
                <span class="text-[#1E6054] font-normal text-sm my-1"
                  >Cập nhật gần nhất
                  {{ course.updated_at | date : "dd/MM/yyy" }}</span
                >
                <span class="text-gray-700 text-sm my-2"
                  >Tổng số {{ course.tracks.length }} bài học • Tất cả trình
                  độ</span
                >
                <div>
                  <p class="text-xl font-bold text-gray-900">
                    Bạn sẽ học được gì ?
                  </p>
                  <ul
                    class="space-y-1 text-left text-gray-500 dark:text-gray-400"
                  >
                    <li
                      *ngFor="let item of course.subTitleDescription"
                      class="flex items-center m-1 rtl:space-x-reverse"
                    >
                      <svg
                        class="flex-shrink-0 mr-1 w-3.5 h-3.5 text-green-700 dark:text-green-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 16 12"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 5.917 5.724 10.5 15 1.5"
                        />
                      </svg>
                      <span class="text-gray-700">{{ item }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </p-overlayPanel>
          <h3 class="m-0 text-md text-black">
            {{ course.title }}
          </h3>
          <span>{{ course.lecture.fullName }}</span>
          <div class="flex flex-row gap-1 items-center">
            <div class="flex flex-row w-[6rem]">
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>
            <span
              >({{ course.lecture.lecture_info.feedback.length }} tổng xếp hạng
              )</span
            >
          </div>
          <ng-container *ngIf="this.course.amount > 0; else courseFree">
            <h3 class="mb-1 mt-1 text-lg text-black">
              {{ course.amount | currency : "VND" }}
            </h3>
          </ng-container>
          <ng-template #courseFree>
            <h3 class="mb-1 mt-1 text-lg text-black">Miễn phí</h3>
          </ng-template>
          <div class="flex flex-row gap-2 align-items-center">
            <i class="pi pi-users" style="color: #708090"></i>
            <span>{{ course.enrollmentCount }} người đã tham gia</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Feedback -->
  <div
    class="feedback bg-[#D8EFFF] flex flex-column justify-content-center align-items-center"
  >
    <h2>Cảm nhận của học viên về Unicourse?</h2>
    <div
      *ngIf="dataFeedbackFiveStar.length > 0"
      class="user grid flex flex-row"
    >
      <ng-container *ngFor="let feedback of dataFeedbackFiveStar">
        <div class="col-4 text-center">
          <div class="fb-user p-4">
            <p-avatar
              image="{{ feedback.user_id.profile_image }}"
              styleClass="mr-2"
              size="large"
              shape="circle"
            ></p-avatar>
            <h4>{{ feedback.user_id.fullName }}</h4>
            <p-rating
              [(ngModel)]="feedback.rating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
            <p>
              {{ feedback.content }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal xác nhận đăng ký lịch giảng -->
<p-dialog
  header="Header"
  [(visible)]="isToggleRegisterScheduleMeeting"
  [modal]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  *ngIf="scheduleData"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Xác nhận tham gia
      </h2>
    </div>
  </ng-template>

  <div class="modal-body">
    <div
      class="bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] p-4 border-gray-900"
    >
      <p class="text-2xl font-bold">{{ scheduleData.title }}</p>
      <p>HOST: {{ scheduleData.lecture.fullName }}</p>
      <div class="duration flex flex-row">
        <p class="time-start mr-2">
          {{ scheduleData.timeStart | date : "h:mm a" + " -" }}
        </p>
        <p>{{ scheduleData.timeEnd | date : "h:mm a" }}</p>
        <p class="ml-3">
          {{ scheduleData.timeStart | date : "EEEE, MMMM d, y" }}
        </p>
      </div>
    </div>

    <div>
      <button
        (click)="handleRegisterScheduleMeeting()"
        type="submit"
        class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        {{ scheduleData.price | number : "1.0-0" }} Point
      </button>
    </div>
  </div>
</p-dialog>

<!-- Modal nạp điểm -->
<p-dialog
  header="Header"
  [(visible)]="isToggleDepositPoint"
  [modal]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Có rắc rối rồi!
      </h2>
    </div>
  </ng-template>

  <div class="modal-body">
    <p>
      Rất tiếc, bạn cần thêm
      {{ scheduleData && scheduleData.price - getTotalCoin | number : "1.0-0" }}
      Point để thực hiện hành động này.
    </p>

    <div>
      <button
        (click)="handleCreatePaymentLink()"
        type="submit"
        class="w-full mt-2 text-white bg-[#97D5FE] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Nạp Point ngay
      </button>
    </div>
  </div>
</p-dialog>

<!-- Model set interest -->

<div *ngIf="isToggleSetInterest">
  <p-blockUI [blocked]="isToggleSetInterest">
    <div class="flex justify-center items-center bg-custom-100">
      <div class="bg-white px-8 py-6 rounded-lg shadow-lg w-full max-w-4xl">
        <div class="text-center mb-6">
          <h2 class="text-2xl font-semibold">Bạn quan tâm đến những gì?</h2>
          <p class="text-gray-600">
            Phần này sẽ tùy chỉnh và đề xuất những khoá học phù hợp với bạn
          </p>
        </div>
        <div class="grid grid-cols-5 gap-4">
          <div
            class="relative interest-card cursor-pointer"
            *ngFor="let interest of interests"
            (click)="toggleSelection(interest)"
            [class.selected]="interest.selected"
          >
            <img
              width="96"
              height="96"
              [src]="interest.imgSrc"
              alt="{{ interest.title }}"
            />
            <div class="overlay">{{ interest.title }}</div>
          </div>
        </div>
        <div class="flex justify-center mt-6">
          <button
            class="bg-gray-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-gray-300"
            *ngIf="getRemainingSelections() > 0"
          >
            Chọn thêm {{ getRemainingSelections() }}
          </button>
          <button
            class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg"
            (click)="selectMoreInterests()"
            *ngIf="getRemainingSelections() == 0"
          >
            Hoàn thành
          </button>
        </div>
      </div>
    </div>
  </p-blockUI>
</div>
