<app-header></app-header>
<div class="container">
  <p-scrollTop
    [threshold]="100"
    class="bg-orange-600 custom-scroll-top"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
  <div class="card">
    <section class="wrap-header p-4">
      <div class="nav-header-menu"></div>

      <div class="main-menu grid grid-cols-12 gap-4">
        <p-carousel
          class="col-span-8 slide-banner"
          [value]="this.dataBanner"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="false"
          [autoplayInterval]="3000"
        >
          <ng-template let-product pTemplate="item">
            <img
              src="{{ product.image }}"
              [alt]="product.name"
              class="w-full p-0 h-[32rem]"
            />
          </ng-template>
        </p-carousel>

        <!-- Hiển thị lịch booking -->
        <div
          class="h-[32rem] header-right-content col-span-4 w-full bg-[#D8EFFF] rounded-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <!-- Hiển thị thời gian -->
          <div class="clock-time w-full h-1/3">
            <img
              class="w-full h-full"
              src="https://i.pinimg.com/564x/dc/77/68/dc7768697208fa969b03da566a3890c4.jpg"
            />

            <!-- Đếm thời gian hiện tại -->
            <div class="count-time">
              <p class="first-text">{{ currentDateTime | date : "h:mm a" }}</p>
              <p class="second-text">
                {{ currentDateTime | date : "EEEE, MMMM d, y" }}
              </p>
            </div>

            <!-- Hiển thị lịch học / section -->
            <div class="section-study">
              <ng-container
                *ngIf="
                  dataScheduleMeetings.length > 0;
                  else emptyDataScheduleMeeting
                "
              >
                <div
                  *ngFor="let data of dataScheduleMeetings"
                  class="section-study-obj"
                >
                  <div class="flex flex-row items-end">
                    <p class="title mr-2">{{ data.title }}</p>
                    |
                    <h2 class="host-name ml-2">{{ data.lecture.fullName }}</h2>
                  </div>

                  <!-- Thời gian -->
                  <div class="duration flex flex-row">
                    <p class="time-start mr-2">
                      {{ data.timeStart | date : "h:mm a" }}
                    </p>
                    -
                    {{ data.timeEnd | date : "h:mm a" }}
                    <p class="ml-2">
                      {{ data.timeStart | date : "EEEE, MMMM d, y" }}
                    </p>
                  </div>

                  <!-- Giá và nút đăng ký -->
                  <div class="price-register mt-3 flex flex-row items-center">
                    <button
                      type="button"
                      class="text-white bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    >
                      Đăng ký ngay
                    </button>
                  </div>

                  <p
                    [pTooltip]="'Xem tất cả các lịch giảng trực tuyến'"
                    class="view-all mt-1 pr-5 w-full text-center text-base align-items-center"
                  >
                    Xem tất cả
                  </p>
                </div>
              </ng-container>
              <ng-template #emptyDataScheduleMeeting>
                <p>Hiện tại chưa có lịch giảng nào!</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Checking Daily -->
  <div class="checking-daily">
    <ng-container *ngIf="!userInfo; else userLogged">
      <div
        class="content left flex flex-column justify-content-center align-items-center"
      >
        <h3 class="font-bold">Ưu đãi nhận xu</h3>
        <div class="coin-already">
          <img
            width="80"
            height="80"
            src="https://img.icons8.com/plasticine/80/coins.png"
            alt="coins"
          />
          <p class="coin-text">{{ getTotalCoin }} xu</p>
        </div>
        <div class="day-container">
          <ng-container
            *ngFor="let event of dataCheckingDailyEvent; index as i"
          >
            <ng-container
              *ngIf="checkEventToday(event.day); else NotEventToday"
            >
              <div class="day-detail">
                <div class="form-coin-active">
                  <span>+100</span>
                  <img
                    width="100"
                    height="100"
                    src="https://img.icons8.com/plasticine/100/coins.png"
                    alt="coins"
                  />
                </div>

                <p class="active-day">Hôm nay</p>
                <div
                  (click)="attendCheckingDailyEvent(event._id)"
                  class="btn-take-coin bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                >
                  <p class="m-0">Nhận ngay 100 xu</p>
                </div>
              </div>
            </ng-container>
            <ng-template #NotEventToday>
              <div class="day-detail">
                <div class="form-coin">
                  <span>+{{ event.coin }}</span>
                  <img
                    width="100"
                    height="100"
                    src="https://img.icons8.com/plasticine/100/coins.png"
                    alt="coins"
                  />
                </div>
                <p>Ngày {{ i + 1 }}</p>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #userLogged>
      <div
        class="content left flex flex-column justify-content-center align-items-center"
      >
        <h3 class="font-bold">Ưu đãi nhận xu</h3>
        <div class="coin-already">
          <img
            width="80"
            height="80"
            src="https://img.icons8.com/plasticine/80/coins.png"
            alt="coins"
          />
          <p class="coin-text">{{ getTotalCoin }} xu</p>
        </div>
        <div class="day-container">
          <ng-container
            *ngFor="let event of dataCheckingDailyEvent; index as i"
          >
            <ng-container
              *ngIf="checkEventToday(event.day); else NotEventToday"
            >
              <div class="day-detail">
                <div class="form-coin-active">
                  <span>+100</span>
                  <img
                    width="100"
                    height="100"
                    src="https://img.icons8.com/plasticine/100/coins.png"
                    alt="coins"
                  />
                </div>

                <ng-container
                  *ngIf="
                    checkUserJoinEvent(event.list_users);
                    else expiredAndNotCheckin
                  "
                >
                  <div class="flex items-center justify-center">
                    <img
                      [ngStyle]="{ width: '3rem' }"
                      class="flex items-center"
                      src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/00d5f0b0136ba898b7684a755f587183.png"
                    />
                  </div>

                  <div
                    class="btn-take-coin-back bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                  >
                    <p class="m-0">Quay lại vào ngày mai để nhận 100 xu</p>
                  </div>
                </ng-container>
                <ng-template #expiredAndNotCheckin>
                  <p class="active-day">Hôm nay</p>
                  <div
                    (click)="attendCheckingDailyEvent(event._id)"
                    class="btn-take-coin bg-gradient-to-br from-[#5edff5] to-[#9f80f8] hover:bg-gradient-to-bl"
                  >
                    <p class="m-0">Nhận ngay 100 xu</p>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #NotEventToday>
              <ng-container
                *ngIf="checkEventExpired(event.day); else isNotExpired"
              >
                <div class="day-detail">
                  <div class="form-coin">
                    <span>+{{ event.coin }}</span>
                    <img
                      width="100"
                      height="100"
                      src="https://img.icons8.com/plasticine/100/coins.png"
                      alt="coins"
                    />
                  </div>
                  <ng-container
                    *ngIf="
                      checkUserJoinEvent(event.list_users);
                      else expiredAndNotCheckin
                    "
                  >
                    <div class="flex items-center justify-center">
                      <img
                        [ngStyle]="{ width: '3rem' }"
                        class="flex items-center"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/00d5f0b0136ba898b7684a755f587183.png"
                      />
                    </div>
                  </ng-container>
                  <ng-template #expiredAndNotCheckin>
                    <p [ngStyle]="{ color: '#f09d8c', 'font-weight': 'bold' }">
                      Quá hạn
                    </p>
                  </ng-template>
                </div>
              </ng-container>
              <ng-template #isNotExpired>
                <div class="day-detail">
                  <div class="form-coin">
                    <span>+{{ event.coin }}</span>
                    <img
                      width="100"
                      height="100"
                      src="https://img.icons8.com/plasticine/100/coins.png"
                      alt="coins"
                    />
                  </div>
                  <p>Ngày {{ i + 1 }}</p>
                </div>
              </ng-template>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Educational Programs -->
  <!-- <div class="edu-program">
    <div class="title flex flex-column align-items-center justify-center">
      <h3 class="mt-0 font-bold">Chương trình giảng dạy</h3>
      <p class="mb-6">
        Sứ mệnh của chúng tôi là đảm bảo rằng tất cả sinh viên đều được cung cấp
        các dịch vụ hỗ trợ và các khóa học chất lượng cao, với mức giá phải
        chăng
      </p>
    </div>
    <div class="detail gird flex flex-row justify-content-center gap-4">
      <div
        class="col-4 detail-item-1 flex flex-column justify-content-center align-items-center"
      >
        <img
          width="100"
          height="100"
          src="https://img.icons8.com/bubbles/100/education.png"
          alt="education"
        />
        <div class="text-center">
          <h3>Giáo Dục</h3>
          <p class="p-2">
            Cung cấp các khóa học chất lượng cao, với độ ngũ mentor có nhiều năm
            kinh nghiệm giảng dạy
          </p>
        </div>
      </div>
      <div
        class="col-4 detail-item-2 flex flex-column justify-content-center align-items-center"
      >
        <img
          width="100"
          height="100"
          src="https://img.icons8.com/bubbles/100/define-location.png"
          alt="define-location"
        />
        <div class="text-center">
          <h3>Mục Tiêu</h3>
          <p class="p-2">
            Mong muốn sẽ giúp hơn 1000 sinh viên IT trường ĐH FPT sẽ có nhiều
            kiến thức, kinh nghiệm
          </p>
        </div>
      </div>
      <div
        class="col-4 detail-item-3 flex flex-column justify-content-center align-items-center"
      >
        <img
          width="100"
          height="100"
          src="https://img.icons8.com/bubbles/100/cyber-security.png"
          alt="cyber-security"
        />
        <div class="text-center">
          <h3>Bảo Mật</h3>
          <p class="p-2">
            Chúng tôi cam kết rằng hệ thống sẽ bảo mật thông tin người dùng một
            cách an toàn nhất
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Các khóa học của Khối 10 -->
  <ng-container *ngIf="courseClass10 && courseClass10.length > 0">
    <div class="semester">
      <span
        [ngStyle]="{
          color: '#82919b',
          'font-size': '14px',
          'font-weight': '600'
        }"
        >20+ người đã học</span
      >
      <div class="title flex flex-row relative">
        <div class="flex flex-row gap-1">
          <h1 [ngStyle]="{ color: '#242424', 'font-weight': '900' }">
            Các Khóa Học Khối 10
          </h1>
          <p-badge [value]="'Nổi bật'" severity="danger"></p-badge>
        </div>
        <div class="road-map">
          <p>Xem lộ trình</p>
          <i class="icon pi pi-angle-right" style="font-size: 1.2rem"></i>
        </div>
      </div>

      <div class="flex flex-wrap align-items-center justify-content-start">
        <div *ngFor="let course of courseClass10" class="course col-3">
          <img
            [ngStyle]="{ 'object-fit': 'contain' }"
            src="{{ course.thumbnail }}"
          />
          <p-button
            class="register-button flipup animation-duration-300"
            [style]="{
              background: '#fff ',
              border: '10px solid #fff',
              'border-radius': '2rem'
            }"
          >
            <span
              (click)="hanleGetCourseDetail(course._id)"
              class="font-bold"
              [style]="{ color: '#000' }"
              >Xem khóa học</span
            >
          </p-button>
          <h3
            class="mb-1 mt-1 text-lg"
            [ngStyle]="{
              color: '#292929'
            }"
          >
            {{ course.title }}
          </h3>
          <div class="flex flex-row gap-2 align-items-center">
            <i class="pi pi-users" style="color: #708090"></i>
            <span>{{ course.enrollmentCount }} người đã tham gia</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Các khóa học của Khối 11 -->
  <ng-container *ngIf="courseClass11 && courseClass11.length > 0">
    <div class="semester">
      <span
        [ngStyle]="{
          color: '#82919b',
          'font-size': '14px',
          'font-weight': '600'
        }"
        >20+ người đã học</span
      >
      <div class="title flex flex-row relative">
        <div class="flex flex-row gap-1">
          <h1 [ngStyle]="{ color: '#242424', 'font-weight': '900' }">
            Các Khóa Học Khối 11
          </h1>
          <p-badge [value]="'Nổi bật'" severity="danger"></p-badge>
        </div>
        <div class="road-map">
          <p>Xem lộ trình</p>
          <i class="icon pi pi-angle-right" style="font-size: 1.2rem"></i>
        </div>
      </div>

      <div class="flex flex-wrap align-items-center justify-content-start">
        <div *ngFor="let course of courseClass11" class="course col-3">
          <img
            [ngStyle]="{ 'object-fit': 'contain' }"
            src="{{ course.thumbnail }}"
          />
          <p-button
            class="register-button flipup animation-duration-300"
            [style]="{
              background: '#fff',
              border: '10px solid #fff',
              'border-radius': '2rem'
            }"
          >
            <span
              (click)="hanleGetCourseDetail(course._id)"
              class="font-bold"
              [style]="{ color: '#000' }"
              >Xem khóa học</span
            >
          </p-button>
          <h3
            class="mb-1 mt-1 text-lg"
            [ngStyle]="{
              color: '#292929'
            }"
          >
            {{ course.title }}
          </h3>
          <div class="flex flex-row gap-2 align-items-center">
            <i class="pi pi-users" style="color: #708090"></i>
            <span>{{ course.enrollmentCount }} người đã tham gia</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Các khóa học của Khối 10 -->
  <ng-container *ngIf="courseClass12 && courseClass12.length > 0">
    <div class="semester">
      <span
        [ngStyle]="{
          color: '#82919b',
          'font-size': '14px',
          'font-weight': '600'
        }"
        >20+ người đã học</span
      >
      <div class="title flex flex-row relative">
        <div class="flex flex-row gap-1">
          <h1 [ngStyle]="{ color: '#242424', 'font-weight': '900' }">
            Các Khóa Học Khối 12
          </h1>
          <p-badge [value]="'Nổi bật'" severity="danger"></p-badge>
        </div>
        <div class="road-map">
          <p>Xem lộ trình</p>
          <i class="icon pi pi-angle-right" style="font-size: 1.2rem"></i>
        </div>
      </div>

      <div class="flex flex-wrap align-items-center justify-content-start">
        <div *ngFor="let course of courseClass12" class="course col-3">
          <img
            [ngStyle]="{ 'object-fit': 'contain' }"
            src="{{ course.thumbnail }}"
          />
          <p-button
            class="register-button flipup animation-duration-300"
            [style]="{
              background: '#fff',
              border: '10px solid #fff',
              'border-radius': '2rem'
            }"
          >
            <span
              (click)="hanleGetCourseDetail(course._id)"
              class="font-bold"
              [style]="{ color: '#000' }"
              >Xem khóa học</span
            >
          </p-button>
          <h3
            class="mb-1 mt-1 text-lg"
            [ngStyle]="{
              color: '#292929'
            }"
          >
            {{ course.title }}
          </h3>
          <div class="flex flex-row gap-2 align-items-center">
            <i class="pi pi-users" style="color: #708090"></i>
            <span>{{ course.enrollmentCount }} người đã tham gia</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Feedback -->
  <div
    class="feedback bg-[#D8EFFF] flex flex-column justify-content-center align-items-center"
  >
    <h2>Cảm nhận của học viên về Unicourse?</h2>
    <div class="user grid flex flex-row">
      <div class="col-4 text-center">
        <div class="fb-user p-4">
          <p-avatar
            image="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Ficons8-person-100.png?alt=media&token=b286a20f-ba68-4a8b-8b44-c210da1e2875"
            styleClass="mr-2"
            size="large"
            shape="circle"
          ></p-avatar>
          <h4>Bùi Đức Trí</h4>
          <p-rating
            [(ngModel)]="value"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          <p>
            Các khóa học của Unicourse rất bổ ích với mình. Nhờ các khóa học mà
            minh đạt được thành tích tốt trong kỳ vừa rồi.
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="fb-user-2 p-4">
          <p-avatar
            image="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Ficons8-person-100.png?alt=media&token=b286a20f-ba68-4a8b-8b44-c210da1e2875"
            styleClass="mr-2"
            size="large"
            shape="circle"
          ></p-avatar>
          <h4>Đinh Gia Bảo</h4>
          <p-rating
            [(ngModel)]="value"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          <p>
            Nhờ có khóa học React của Unicourse mà mình đã làm được project cá
            nhân khá chỉnh chu. Cảm ơn Unicourse rất nhiều.
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="fb-user p-4">
          <p-avatar
            image="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Ficons8-person-100.png?alt=media&token=b286a20f-ba68-4a8b-8b44-c210da1e2875"
            styleClass="mr-2"
            size="large"
            shape="circle"
          ></p-avatar>
          <h4>Nguyễn Trung Kiên</h4>
          <p-rating
            [(ngModel)]="value"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          <p>
            Các giảng viên của Unicourse rất nhiệt huyết và giảng dạy rất có
            tâm.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="contact pb-5">
    <div
      class="content flex flex-column align-items-center justify-content-center relative"
    >
      <h3 class="m-1">Tư vấn nhận ưu đãi ngay</h3>
      <p>
        Đừng ngần ngại để lại cho chúng tôi email của bạn, chúng tôi sẽ gửi cho
        bạn những ưu đãi hấp dẫn nhất. Hãy đăng ký ngay!
      </p>
      <p-inputGroup class="w-25rem h-3rem m-4">
        <input
          type="text"
          [style]="{ 'padding-left': '1rem' }"
          pInputText
          placeholder="Nhập mail của bạn"
        />
        <button
          pButton
          class="bg-[#F1B300] w-4"
          [style]="{ 'padding-left': '1rem', 'padding-right': '1rem' }"
        >
          <p class="font-bold w-full" [ngStyle]="{ color: '#000' }">Đăng ký</p>
        </button>
      </p-inputGroup>
    </div>
  </div>
</div>
