<div class="p-5 mb-10 bg-white rounded-lg text-center">
    <a href="#" [style]="{'text-align':'-webkit-center', 'margin-bottom':'0.5rem', 'display':'block'}">
        <img class="object-cover w-16 h-16 border-2 rounded-full" src="../../../../assets/images/F8.jpg" alt="Avatar" />
    </a>
    <p-rating class="mb-1" [(ngModel)]="starValue" [cancel]="false"></p-rating>
    <h5 class="mb-1 text-xl font-customFont font-bold tracking-tight text-gray-900 ">Sơn Đặng</h5>
    <p class="mb-0.5 text-xs font-customFont font-semibold uppercase tracking-wide text-gray-500 lg:text-xs">Giảng viên</p>
    <p class="mb-5 text-xs font-customFont font-semibold uppercase tracking-wide text-gray-500 lg:text-xs">Full-Stack
        Developer</p>
    <button type="buttosn"
        class="font-customFont focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
        Xem chi tiết</button>
</div>