<footer class="grid flex flex-row justify-content-between p-8">
  <div class="col-3">
    <img class="logo" src="../../../../assets/images/unico-logo.svg" />
    <!-- Social -->
    <div class="flex flex-row align-items-center gap-2">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/fluency/48/facebook.png"
        alt="facebook"
      /><img
        width="48"
        height="48"
        src="https://img.icons8.com/ios-filled/50/github.png"
        alt="github"
      />
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/instagram-new--v1.png"
        alt="instagram-new--v1"
      />
    </div>
    <p class="font-customFont text-base">©2024 Dreamy.co</p>
    <p class="w-15rem font-customFont text-base">
      Dreamy là nền tảng giáo dục xây dựng bởi nhóm sinh viên FPT
    </p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Khóa học</h2>
    <p class="font-customFont text-base">Khóa theo chuyên ngành</p>
    <p class="font-customFont text-base">Khóa học miễn phí</p>
    <p class="font-customFont text-base">Quiz sau mỗi khóa học</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Cộng đồng</h2>
    <p class="font-customFont text-base">Học viên</p>
    <p class="font-customFont text-base">Giảng viên</p>
    <p class="font-customFont text-base">Chat Room</p>
    <p class="font-customFont text-base">Blog</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Quick links</h2>
    <p class="font-customFont text-base">Trang chủ</p>
    <p class="font-customFont text-base">Bài viết</p>
    <p class="font-customFont text-base">Khóa học</p>
    <p class="font-customFont text-base">Cộng đồng IT</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Địa điểm</h2>
    <p class="font-customFont text-base">Trường ĐH FPT Hồ Chí Minh</p>
    <p class="font-customFont text-base">Giới thiệu</p>
    <p class="font-customFont text-base">0918.xxx.xxx</p>
  </div>
</footer>
