<footer class="grid flex flex-row justify-content-between p-8">
  <div class="col-3">
    <img class="logo" src="../../../../assets/images/unico-logo.svg" />
    <p>Điện thoại: 0918.xxx.xxx</p>
    <p>Email: unicourse&#64;gmail.com</p>
    <p>
      Lô E2a-7, Đường D1, Đ. D1, Long Thạnh Mỹ, Thành Phố Thủ Đức, Thành phố Hồ
      Chí Minh 700000
    </p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Khóa học</h2>
    <p class="font-customFont text-base">Khóa theo chuyên ngành</p>
    <p class="font-customFont text-base">Khóa học miễn phí</p>
    <p class="font-customFont text-base">Quiz sau mỗi khóa học</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Cộng đồng</h2>
    <p class="font-customFont text-base">Học viên</p>
    <p class="font-customFont text-base">Giảng viên</p>
    <p class="font-customFont text-base">Chat Room</p>
    <p class="font-customFont text-base">Blog</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">Quick links</h2>
    <p class="font-customFont text-base">Trang chủ</p>
    <p class="font-customFont text-base">Bài viết</p>
    <p class="font-customFont text-base">Khóa học</p>
    <p class="font-customFont text-base">Cộng đồng IT</p>
  </div>
  <div class="col-2">
    <h2 class="text-lg font-bold font-customFont text-gray-900">More</h2>
    <p class="font-customFont text-base">Ủng hộ Unicourse</p>
    <p class="font-customFont text-base">Chính sách</p>
    <p class="font-customFont text-base">Hỗ trợ</p>
    <p class="font-customFont text-base">
      Lĩnh vực: Công nghệ, giáo dục, lập trình.
    </p>
  </div>
  <div class="mt-4 mb-4 flex flex-row justify-between items-center w-full">
    <p class="font-customFont text-base">
      ©2024 Unicourse.co là nền tảng giáo dục xây dựng bởi nhóm sinh viên FPT
    </p>
    <!-- Social -->
    <div class="flex flex-row align-items-center gap-2">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/fluency/48/facebook.png"
        alt="facebook"
      /><img
        width="48"
        height="48"
        src="https://img.icons8.com/ios-filled/50/github.png"
        alt="github"
      />
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/instagram-new--v1.png"
        alt="instagram-new--v1"
      />
    </div>
  </div>
</footer>
