footer {
  padding: 3% 10% !important;
  background-color: black;
  color: #a9b3bb !important;
  h2 {
    color: white !important;
    margin-bottom: 0.7rem !important;
  }
  .logo {
    margin-bottom: 0.5rem;
  }
}
