<p-toast [life]="1000"></p-toast>
<div class="nav-info">
  <div class="group-logo flex flex-row items-center justify-content-between">
    <div class="flex flex-row items-center">
      <img class="img-logo" src="{{ Logo }}" alt="Logo" />
      <h1 class="title">UNICOURSE</h1>
    </div>
    <div class="flex flex-row items-center gap-2">
      <span class="search p-input-icon-left">
        <i class="pi pi-search"></i>
        <input placeholder="Tìm kiếm thông tin" type="text" pInputText />
      </span>

      <img
        pTooltip="Tiếng việt"
        width="30"
        height="30"
        src="https://img.icons8.com/fluency/48/vietnam-circular.png"
        alt="vietnam-circular"
      />
    </div>
  </div>
  <div class="flex flex-row items-center">
    <div class="nav-left w-full flex">
      <div
        [routerLink]="['/']"
        class="logo flex flex-col items-center justify-center"
      ></div>
      <div
        class="nav-items flex flex-row justify-content-center align-items-center text-center"
      >
        <p
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Trang chủ
        </p>
        <p
          routerLink="/blog"
          [queryParams]="{ page: 1 }"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Bài viết
        </p>

        <p (click)="joinRoom('65ebe4d2d0cb58ef9cb250cc')" class="nav-item">
          Cộng đồng
        </p>
      </div>
    </div>
    <div class="flex flex-row gap-2 mt-3">
      <ng-container *ngIf="user; else unLogin">
        <i
          (click)="redirectToCart()"
          class="pi pi-shopping-cart mr-4 p-text-secondary"
          pBadge
          style="font-size: 2rem; cursor: pointer; color: #000"
          value="{{ lengthOfCartItems }}"
          severity="danger"
        ></i>

        <p-avatar
          (click)="menu.toggle($event)"
          image="{{ user.profile_image }}"
          styleClass="mr-2"
          [ngStyle]="{ cursor: 'pointer' }"
          size="normal"
          shape="circle"
        ></p-avatar>

        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </ng-container>
      <ng-template #unLogin>
        <button (click)="openDialogSignIn()" class="btn-sign-in">
          <p>Đăng nhập</p>
        </button>
        <button (click)="openDialogSignUp()" class="btn-sign-up">
          <p>Đăng ký</p>
        </button>
      </ng-template>
    </div>
  </div>
</div>
<div class="card">
  <div class="container flex flex-row justify-content-between"></div>
</div>
