.card {
  margin: 0% 15%;

  .container {
    .nav-left {
      .logo {
        width: 15rem;
        margin-right: 5%;
      }
      .nav-items {
        .nav-item {
          width: 100%;
          color: #1d1d1d;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
