<p-toast [life]="1000"></p-toast>
<div class="card">
  <div class="container flex flex-row justify-content-between">
    <div class="nav-left w-full flex">
      <img class="logo" src="{{ Logo }}" alt="Logo" />
      <div
        class="nav-items flex flex-row justify-content-center align-items-center text-center"
      >
        <p
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Trang chủ
        </p>
        <p
          routerLink="/blog"
          [queryParams]="{ page: 1 }"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-item"
        >
          Bài viết
        </p>
        <!-- <p class="nav-item">Cộng đồng</p> -->
      </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-between gap-2">
      <ng-container *ngIf="user; else unLogin">
        <p class="w-8rem font-semibold my-course">Khóa học của tôi</p>
        <p-avatar
          (click)="menu.toggle($event)"
          image="{{ user.profileImage }}"
          styleClass="mr-2"
          [ngStyle]="{ cursor: 'pointer' }"
          size="normal"
          shape="circle"
        ></p-avatar>

        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </ng-container>
      <ng-template #unLogin>
        <button (click)="openDialogSignIn()" class="btn-sign-in">
          <p>Đăng nhập</p>
        </button>
        <button (click)="openDialogSignUp()" class="btn-sign-up">
          <p>Đăng ký</p>
        </button>
      </ng-template>
    </div>
  </div>
</div>
