.nav-info {
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
  .group-logo {
    padding: 1% 5%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #3333;
    .img-logo {
      width: 5rem;
    }
    .title {
      font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      font-weight: 900;
      font-size: large;
      margin-top: 0.5rem;
      color: #111827;
    }
    .search {
      width: 20rem;
      input {
        width: 100%;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
        border: 1px solid #3333;
        &:focus {
          outline: none;
        }
      }
    }
    .group-contact {
      p {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        cursor: pointer;
      }
      p:nth-child(1),
      p:nth-child(2) {
        border-right: 1px solid #3333;
      }
    }
  }
  .nav-left {
    padding: 0% 5%;
    margin-bottom: 1%;
    .logo {
      cursor: pointer;
      img {
        width: 8rem;
      }
      h2 {
        font-family: "system ui", sans-serif;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .nav-item {
      margin-top: 4%;
      position: relative; /* Cho phép absolute positioning bên trong .nav-item */
      padding: 2% 1%;
      width: 7rem;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      overflow: hidden; /* Giữ cho pseudo-element không vượt ra ngoài .nav-item */
      &:hover {
        color: #000;
        border-radius: 5px;
        &::before {
          width: 100%; /* Mở rộng pseudo-element ra toàn bộ chiều rộng khi hover */
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%; /* Bắt đầu từ chiều rộng 0 */
        height: 2px; /* Đặt chiều cao của border mong muốn */
        background: #000; /* Màu của border */
        transition: width 0.8s ease-in-out; /* Hiệu ứng mượt mà chạy từ 0 đến 100% chiều rộng */
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    padding: 0% 5%;
    width: 100%;
    justify-content: flex-end;
    .btn-sign-in {
      width: 9rem;
      border-radius: 1rem;
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
      }
    }
  }
}

.card {
  margin: 0% 5%;
  .container {
    .nav-left {
      .logo {
        cursor: pointer;
        img {
          width: 8rem;
        }
        h2 {
          font-family: "system ui", sans-serif;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.8);
        }
        padding-right: 2rem;
      }
      .nav-items {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .nav-item {
          width: 7rem;
          color: rgba(0, 0, 0, 0.8);
          font-weight: bold;
          cursor: pointer;
          &:hover {
            color: #fff;
            border-radius: 5px;
            padding: 5% 0%;
            background-color: #94a3b8;
          }
        }
      }
    }
  }
}
