.card {
  margin: 0% 10%;
  padding-top: 1%;
  .container {
    height: 5rem;
    .nav-left {
      .logo {
        width: 15rem;
        padding-bottom: 1.3rem;
        margin-right: 2rem;
      }
      .nav-items {
        gap: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .nav-item {
          width: 5.5rem;
          color: #1d1d1d;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            color: #fff;
            border-radius: 5px;
            padding: 3% 0%;
            background-color: #94a3b8;
          }
        }
      }
    }
    .btn-sign-up {
      padding: 0.5rem 1rem;
      width: 7.5rem;
      border-radius: 1rem;
      background: linear-gradient(to right bottom, #ff8f26, #ff5117);
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
      }
    }
    .btn-sign-in {
      padding: 0.5rem 1rem;
      width: 7.5rem;
      border-radius: 1rem;
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
      }
    }
  }
}
