<div class="container">
  <p-blockUI [blocked]="blockedUI"
    ><p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <div class="header-background">
    <app-header></app-header>
  </div>
  <div class="body-container">
    <!-- Breachrum Group-->
    <nav class="flex my-4" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li>
          <div class="flex flex-row items-center">
            <a
              [routerLink]="['/']"
              ariaCurrentWhenActive="page"
              class="mr-1 ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
              >Trang chủ</a
            >
          </div>
        </li>
        /
        <li aria-current="page">
          <div class="flex items-center">
            <span
              class="w-20 ms-1 text-sm font-medium text-gray-950 md:ms-2 font-bold"
              >Giỏ hàng</span
            >
          </div>
        </li>
      </ol>
    </nav>

    <!-- Middle side: Chứa danh sách item giỏ hàng và thanh toán -->
    <div class="flex flex-row h-auto w-full place-content-center">
      <!-- Left side: Chứa danh sách item giỏ hàng -->
      <div class="left-side basis-7/12 mr-4">
        <ng-container
          *ngIf="cart !== undefined && cart.items.length > 0; else emptyCart"
        >
          <div class="cart-item mb-4" *ngFor="let cartItem of cart?.items">
            <app-cart-item
              [cartItem]="cartItem"
              (isDeleteItem)="handleRemoveFromCart($event)"
            ></app-cart-item>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <div class="cart-null-item mt-20 mb-4">
            <img
              class="w-4 mb-3 h-auto rounded-full"
              src="../../../assets/images/cart.webp"
            />
            <h5
              class="mx-3 mt-5 mb-4 text-3xl font-bold text-gray-600 font-customFont"
            >
              Giỏ hàng của bạn còn trống
            </h5>
            <button
              type="button"
              routerLink="/"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="button-cart-null text-white uppercase bg-[#EE4D2D] hover:bg-[#FF2A00] focus:ring-4 focus:outline-none focus:ring-[#FF2A00] font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center me-2 mt-5 mb-2"
            >
              Mua ngay
            </button>
          </div>
        </ng-template>
      </div>
      <!-- Right side: Thông tin thanh toán -->
      <div class="transaction basis-5/12">
        <!-- Phần nhập thông tin khuyến mãi -->
        <div
          class="w-full max-w-full bg-white border border-gray-200 rounded-lg shadow mb-4"
        >
          <h5 class="m-3 text-xl font-medium text-gray-900 font-customFont">
            Áp dụng khuyến mãi ngay
          </h5>

          <ng-container
            *ngIf="isProgressSpinner; else displayListVoucherAndTotalAmount"
          >
            <p-progressSpinner
              class="p-4 flex"
              styleClass="w-4rem h-4rem"
              strokeWidth="8"
              fill="var(--surface-ground)"
              animationDuration=".8s"
            ></p-progressSpinner
          ></ng-container>
          <ng-template #displayListVoucherAndTotalAmount>
            <div class="mx-3 mb-3">
              <span
                class="text-sm cursor-pointer hover:text-red-600 hover:font-bold"
                *ngIf="voucherDetail"
                (click)="removeVoucher()"
              >
                Xoá mã giảm giá {{ voucherDetail.code }}
              </span>
              <span class="flex flex-row">
                <input
                  placeholder="Nhập mã khuyến mãi"
                  value="{{ voucherCode ? voucherCode : '' }}"
                  [(ngModel)]="voucherCode"
                  type="text"
                  id="default-input"
                  class="basis-9/12 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block font-customFont w-full p-2.5 mr-2"
                />
                <button
                  (click)="applyVoucher(voucherCode || '')"
                  type="button"
                  [className]=""
                  class="basis-3/12 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium font-customFont rounded-lg text-sm px-5 py-2.5 text-center me-2"
                >
                  Áp dụng
                </button>
              </span>
              <span
                class="text-[#239a1a] text-sm font-normal"
                *ngIf="isApplyVoucher"
              >
                Mã giảm giá đã được áp dụng
              </span>
              <span
                class="text-[#FF2626] text-sm font-normal"
                *ngIf="errorVoucher"
              >
                Mã giảm giá không tồn tại
              </span>
            </div>
            <!-- Hiên thị danh sách voucher -->
            <div
              class="flex flex-nowrap gap-3 w-full p-3 pt-0"
              [ngStyle]="{ overflow: 'auto' }"
              *ngIf="vouchers"
            >
              <ng-container *ngFor="let voucher of vouchers">
                <div
                  (click)="applyVoucher(voucher.code)"
                  class="coupon col-5 p-2 hover:text-white border border-blue-700 hover:bg-blue-800"
                  [ngClass]="{
                    'bg-blue-700 text-white border':
                      voucherDetail?.code === voucher.code
                  }"
                >
                  <div class="coupon-left"></div>
                  <div class="coupon-right">
                    <div class="coupon-title">
                      {{ voucher.code }}
                      <span class="coupon-count"
                        ><i>(Còn {{ voucher.remaining_uses }})</i></span
                      >
                    </div>
                    <div class="coupon-description">
                      {{ voucher.title }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </div>
        <!-- Phần hiển thị tổng tiền -->
        <ng-container *ngIf="!isProgressSpinner">
          <div
            class="w-full max-w-full bg-white border border-gray-200 rounded-lg shadow"
          >
            <h5 class="m-3 text-xl font-medium text-gray-900 font-customFont">
              Chi tiết thanh toán
            </h5>
            <div class="mx-3 mb-6">
              <span class="flex flex-row justify-between mb-2">
                <span class="text-sm text-gray-500">Tổng tiền</span>
                <span class="text-sm text-gray-500">{{
                  cart ? (cart.amount | currency : "VND") : 0
                }}</span>
              </span>
              <span class="flex flex-row justify-between">
                <span class="text-sm text-gray-500">Khuyến mãi</span>
                <span class="text-sm text-gray-500">{{
                  voucherDetail
                    ? " - " + (voucherDetail.discount_amount | currency : "VND")
                    : 0
                }}</span>
              </span>
              <hr class="w-full h-px my-3 bg-gray-200 border-0" />
              <span class="flex flex-row justify-between">
                <span
                  class="text-lg font-semibold text-gray-900 font-customFont"
                  >Tổng cộng</span
                >
                <div class="flex flex-col">
                  <span
                    class="text-lg font-bold font-customFont text-gray-900 flex justify-end"
                    >{{
                      cart
                        ? (totalAmountBeforeApplyVoucher | currency : "VND")
                        : 0
                    }}
                  </span>
                  <span *ngIf="voucherDetail" class="text-sm text-red-600">{{
                    voucherDetail
                      ? "(Đã giảm " +
                        (voucherDetail.discount_amount | currency : "VND") +
                        " trên giá gốc)"
                      : 0
                  }}</span>
                </div>
              </span>
            </div>
            <!-- Group select hình thức thanh toán -->
            <ng-container *ngIf="this.cart && this.cart.items.length > 0">
              <h5 class="m-3 text-xl font-medium text-gray-900 font-customFont">
                Hình thức thanh toán
              </h5>
              <!-- Credit Cards button -->
              <div class="p-3">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Bottom side: Các khóa học liên quan -->
    <div class="place-content-center mt-8">
      <div class="w-full max-w-full text-center">
        <h5
          class="m-3 text-2xl font-semibold text-gray-900 font-customFont uppercase"
        >
          Các khóa học liên quan
        </h5>
        <ng-container *ngIf="coursesFree.length > 0; else loading">
          <div class="grid grid-cols-4 gap-4 mt-6">
            <app-list-related-course
              *ngFor="let course of coursesFree | slice : 0 : 4"
              [course]="course"
            ></app-list-related-course>
          </div>
        </ng-container>
        <ng-template #loading>
          <div role="status" class="max-w-full mt-5 animate-pulse">
            <div class="h-2.5 bg-gray-200 rounded-full w-full mb-4"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full"></div>
            <hr />
            <div class="h-2.5 bg-gray-200 rounded-full w-full mb-4"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full"></div>
            <hr />
            <div class="h-2.5 bg-gray-200 rounded-full w-full mb-4"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
            <div class="h-2 bg-gray-200 rounded-full max-w-full"></div>
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
