.side-bar {
  padding: 0% 6%;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .setting-menu {
    .container {
      width: 20rem;
      padding: 0.8rem;
      background-color: #eeeeee;
      border-radius: 0.5rem;
      i {
        color: rgb(251, 133, 0);
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
