<app-header></app-header>

<div class="uni-coin-container">
  <div class="body">
    <ng-container *ngIf="this.coins.length > 0; else emptyCoin">
      <!-- Hiển thị xu -->
      <header>
        <div class="display-coins">
          <img
            class="coins-img"
            width="50"
            height="50"
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
            alt="coins"
          />
          <p class="coins-text">{{ totalCoin }} Xu đang có</p>
        </div>
        <div class="get-coins">
          <p class="coins-text">Nhận thêm xu</p>
        </div>
      </header>
      <div class="tab-view-history">
        <p-tabView>
          <p-tabPanel header="Tất cả lịch sử">
            <ng-container *ngFor="let item of this.coins">
              <ng-container *ngIf="item.status === 'active'; else notActive">
                <div class="history">
                  <div class="his-left">
                    <img
                      class="his-img"
                      width="30"
                      height="30"
                      src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
                      alt="coins"
                    />
                    <div>
                      <p class="his-text">{{ item.title }}</p>
                      <p class="his-sub-text">{{ item.description }}</p>
                      <p class="his-sub-text">
                        {{ item.created_at | date : "h:mm a d/M/yy " }}
                      </p>
                    </div>
                  </div>
                  <p class="his-right">
                    {{ "+" + item.coin }}
                  </p>
                </div>
              </ng-container>
              <ng-template #notActive>
                <div class="history">
                  <div class="his-left">
                    <img
                      class="his-img"
                      width="30"
                      height="30"
                      src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar-coin.png?alt=media&token=ef325a8e-1ff0-4cf6-9391-b0ac30919725"
                      alt="coins"
                    />
                    <div>
                      <p class="his-text">{{ item.title }}</p>
                      <p class="his-sub-text">{{ item.description }}</p>
                      <p class="his-sub-text">
                        {{ item.created_at | date : "h:mm a d/M/yy " }}
                      </p>
                    </div>
                  </div>
                  <p class="his-right" [ngStyle]="{ color: 'red' }">
                    {{ item.coin }}
                  </p>
                </div>
              </ng-template>
            </ng-container>
          </p-tabPanel>
          <p-tabPanel header="Nhận xu">
            <div *ngFor="let item of this.listCounsActived" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">{{ item.description }}</p>
                  <p class="his-sub-text">
                    {{ item.created_at | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p class="his-right">+{{ item.coin }}</p>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Dùng xu">
            <div *ngFor="let item of this.listCoinsUsed" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar-coin.png?alt=media&token=ef325a8e-1ff0-4cf6-9391-b0ac30919725"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">Sử dụng xu</p>
                  <p class="his-sub-text">
                    {{ item.date_used | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p [ngStyle]="{ color: 'red' }" class="his-right">
                {{ item.coin }}
              </p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </ng-container>
    <ng-template #emptyCoin>
      <div class="empty-coin">
        <p class="empty-text">
          Bạn chưa có xu nào. Hãy tham gia các hoạt động để nhận xu nhé!
        </p>
      </div>
    </ng-template>
  </div>
</div>
