<app-header></app-header>

<div class="uni-coin-container">
  <!-- Thực hiện việc blockUI khi gọi các API  -->
  <p-blockUI [blocked]="isBlockUI"
    ><p-progressSpinner></p-progressSpinner>
  </p-blockUI>

  <ng-container *ngIf="this.coins.length > 0; else emptyCoin">
    <section
      class="bg-white w-full dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]"
    >
      <div
        class="py-7 px-4 mb-4 mx-auto max-w-screen-xl text-center lg:py-16 z-0 relative"
      >
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"
        >
          Lịch sử giao dịch
        </h1>
        <blockquote
          class="text-xl text-gray-500 italic font-semibold text-center"
        >
          <p>
            "Xem chi tiết lịch sử giao dịch và nhớ đánh giá để nhận thêm Point
            bạn nhé!"
          </p>
        </blockquote>
      </div>
    </section>
    <!-- Hiển thị Point -->
    <div class="body">
      <header>
        <div class="display-coins">
          <img
            class="coins-img"
            width="50"
            height="50"
            src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
            alt="coins"
          />
          <p class="coins-text">
            {{ totalCoin | number : "1.0-0" }} Point đang có
          </p>
        </div>
        <div class="get-coins" routerLink="/coin-banking">
          <p class="coins-text">Nạp thêm Point</p>
        </div>
      </header>

      <div class="tab-view-history">
        <p-tabView [(activeIndex)]="selectedTabIndex">
          <p-tabPanel>
            <ng-template pTemplate="header">
              <p
                [ngClass]="{ 'active-tab': selectedTabIndex === 0 }"
                class="flex align-items-center gap-2"
              >
                Lịch sử nhận thưởng
              </p>
            </ng-template>
            <ng-container *ngFor="let item of this.coins">
              <ng-container *ngIf="item.status === 'active'; else notActive">
                <div class="history">
                  <div class="his-left">
                    <img
                      class="his-img"
                      width="30"
                      height="30"
                      src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
                      alt="coins"
                    />
                    <div>
                      <p class="his-text">{{ item.title }}</p>
                      <p class="his-sub-text">{{ item.description }}</p>
                      <p class="his-sub-text">
                        {{ item.created_at | date : "h:mm a d/M/yy " }}
                      </p>
                    </div>
                  </div>
                  <p class="his-right">+{{ +item.coin | number : "1.0-0" }}</p>
                </div>
              </ng-container>
              <ng-template #notActive>
                <div class="history">
                  <div class="his-left">
                    <img
                      class="his-img"
                      width="30"
                      height="30"
                      src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar-coin.png?alt=media&token=ef325a8e-1ff0-4cf6-9391-b0ac30919725"
                      alt="coins"
                    />
                    <div>
                      <p class="his-text">{{ item.title }}</p>
                      <p class="his-sub-text">{{ item.description }}</p>
                      <p class="his-sub-text">
                        {{ item.created_at | date : "h:mm a d/M/yy " }}
                      </p>
                    </div>
                  </div>
                  <p class="his-right" [ngStyle]="{ color: 'red' }">
                    {{ item.coin | number : "1.0-0" }}
                  </p>
                </div>
              </ng-template>
            </ng-container>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <p
                [ngClass]="{ 'active-tab': selectedTabIndex === 1 }"
                class="flex align-items-center gap-2"
              >
                Nhận Point
              </p>
            </ng-template>
            <div *ngFor="let item of this.listCounsActived" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar.png?alt=media&token=bfaf0acf-9c25-4c88-89f1-0e7ee63abed0"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">{{ item.description }}</p>
                  <p class="his-sub-text">
                    {{ item.created_at | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p class="his-right">+{{ item.coin | number : "1.0-0" }}</p>
            </div>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <p
                [ngClass]="{ 'active-tab': selectedTabIndex === 2 }"
                class="flex align-items-center gap-2"
              >
                Dùng Point
              </p>
            </ng-template>
            <div *ngFor="let item of this.listCoinsUsed" class="history">
              <div class="his-left">
                <img
                  class="his-img"
                  src="https://firebasestorage.googleapis.com/v0/b/unicourse-f4020.appspot.com/o/Temp%2Fdollar-coin.png?alt=media&token=ef325a8e-1ff0-4cf6-9391-b0ac30919725"
                />
                <div>
                  <p class="his-text">{{ item.title }}</p>
                  <p class="his-sub-text">Sử dụng Point</p>
                  <p class="his-sub-text">
                    {{ item.date_used | date : "h:mm a d/M/yy " }}
                  </p>
                </div>
              </div>
              <p [ngStyle]="{ color: 'red' }" class="his-right">
                {{ item.coin }}
              </p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyCoin>
    <section
      class="bg-white w-full h-[90vh] flex items-center dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]"
    >
      <div
        class="py-7 px-4 mb-[10rem] mx-auto max-w-screen-xl text-center lg:py-16 z-0 relative"
      >
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"
        >
          Point của bạn hiện đang là 0
        </h1>
        <blockquote
          class="text-xl text-gray-500 italic font-semibold text-center"
        >
          <p>"Hãy tham gia các hoạt động để nhận thêm Point bạn nhé!"</p>
        </blockquote>
      </div>
    </section>
  </ng-template>
</div>
