<div class="card">
  <app-header></app-header>
  <div class="logan">
    <strong class="title-1">Your Path</strong>
    to Programming
    <br />
    <strong class="title-2">Excellence</strong>
    Starts Here
    <br />
    <button class="btn shadow-2 hover:shadow-8">
      <p class="m-0">Khám phá ngay</p>
    </button>
  </div>
</div>
<!-- Educational Programs -->
<div class="edu-program">
  <!-- Title -->
  <div class="title flex flex-column align-items-center">
    <h3 class="mt-0">Educational Programs</h3>
    <p class="mb-6">
      Sứ mệnh của chúng tôi là đảm bảo rằng tất cả sinh viên đều được cung cấp
      các dịch vụ hỗ trợ và các khóa học chất lượng cao, với mức giá phải chăng
    </p>
  </div>
  <div class="detail gird flex flex-row gap-4">
    <div class="col-4 pt-6 detail-item-1 flex flex-column align-items-center">
      <img
        width="150"
        height="150"
        src="https://img.icons8.com/bubbles/100/education.png"
        alt="education"
      />
      <div class="text-center">
        <h3>Giáo Dục</h3>
        <p>
          Cung cấp các khóa học chất lượng cao, với độ ngũ mentor có nhiều năm
          kinh nghiệm giảng dạy
        </p>
      </div>
    </div>
    <div class="col-4 pt-6 detail-item-2 flex flex-column align-items-center">
      <img
        width="150"
        height="150"
        src="https://img.icons8.com/bubbles/100/education.png"
        alt="education"
      />
      <div class="text-center">
        <h3>Mục Tiêu</h3>
        <p>
          Mong muốn sẽ giúp hơn 1000 sinh viên IT trường ĐH FPT sẽ có nhiều kiến
          thức, kinh nghiệm
        </p>
      </div>
    </div>
    <div class="col-4 pt-6 detail-item-3 flex flex-column align-items-center">
      <img
        width="150"
        height="150"
        src="https://img.icons8.com/bubbles/100/education.png"
        alt="education"
      />
      <div class="text-center">
        <h3>Bảo Mật</h3>
        <p>
          Chúng tôi cam kết rằng hệ thống sẽ bảo mật thông tin người dùng một
          cách an toàn nhất
        </p>
      </div>
    </div>
  </div>
</div>
<!-- CN! -->
<div class="semester">
  <div class="title flex flex-row relative">
    <h2>Chuyên Ngành 1</h2>
    <p-badge value="Hot" severity="danger">Hot</p-badge>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-center">
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >

      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <p class="m-0">đ 350,000</p>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <p class="m-0">đ 350,000</p>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <p class="m-0">đ 350,000</p>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <p class="m-0">đ 350,000</p>
    </div>
  </div>
</div>

<!-- Course Free -->
<div class="semester">
  <div class="title flex flex-row relative">
    <h2>Khóa học miễn phí</h2>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-center">
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <div class="flex flex-row gap-2 align-items-center">
        <i class="pi pi-users" style="color: #708090"></i>
        <span>21 người khác đã học</span>
      </div>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <div class="flex flex-row gap-2 align-items-center">
        <i class="pi pi-users" style="color: #708090"></i>
        <span>21 người khác đã học</span>
      </div>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <div class="flex flex-row gap-2 align-items-center">
        <i class="pi pi-users" style="color: #708090"></i>
        <span>21 người khác đã học</span>
      </div>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem khóa học</span
        ></p-button
      >
      <h3 class="mb-2">Lập trình JavaScript nâng cao</h3>
      <div class="flex flex-row gap-2 align-items-center">
        <i class="pi pi-users" style="color: #708090"></i>
        <span>21 người khác đã học</span>
      </div>
    </div>
  </div>
</div>

<!-- Videos -->
<div class="semester">
  <div class="title flex flex-row relative">
    <h2>Videos nổi bật</h2>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-center">
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem video</span
        ></p-button
      >
      <h4>
        Music that make you feel positive and calm 🍃 lofi / relax / stress
        relief
      </h4>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem video</span
        ></p-button
      >
      <h4>
        Music that make you feel positive and calm 🍃 lofi / relax / stress
        relief
      </h4>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem video</span
        ></p-button
      >
      <h4>
        Music that make you feel positive and calm 🍃 lofi / relax / stress
        relief
      </h4>
    </div>
    <div class="course col-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ongbutdicode.appspot.com/o/Course%2FIMAGE%20FOR%20COURSE%20(1).png?alt=media&token=d887afa7-7c4e-47d2-aba4-f27ed6156e8b"
      />
      <p-button
        class="register-button flipup animation-duration-500"
        [style]="{ background: '#fff', border: '2px solid #fff' }"
      >
        <span class="ml-2 font-bold" [style]="{ color: '#000' }"
          >Xem video</span
        ></p-button
      >
      <h4>
        Music that make you feel positive and calm 🍃 lofi / relax / stress
        relief
      </h4>
    </div>
  </div>
  <p-paginator
    [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</div>

<!-- Feedback -->
<div class="feedback flex flex-column align-items-center">
  <h2>Cảm nhận của học viên về Dreamy?</h2>
  <div class="user grid flex flex-row">
    <div class="col-4 mt-4 p-4 text-center">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <h4>Bùi Đức Trí</h4>
      <p-rating
        [(ngModel)]="value"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p>
        Các khóa học của Dreamy rất bổ ích với mình. Nhờ các khóa học mà minh
        đạt được thành tích tốt trong kỳ vừa rồi.
      </p>
    </div>
    <div class="col-4 text-center">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <h4>Đinh Gia Bảo</h4>
      <p-rating
        [(ngModel)]="value"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p>
        Nhờ có khóa học React của Dreamy mà mình đã làm được project cá nhân khá
        chỉnh chu. Cảm ơn Dreamy rất nhiều.
      </p>
    </div>
    <div class="col-4 mt-4 p-4 text-center">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <h4>Nguyễn Trung Kiên</h4>
      <p-rating
        [(ngModel)]="value"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p>Các giảng viên của Dreamy rất nhiệt huyết và giảng dạy rất có tâm.</p>
    </div>
  </div>
</div>

<!-- Contact -->
<div class="contact">
  <div
    class="content flex flex-column align-items-center justify-content-center relative"
  >
    <h3>Làm thế nào liên lạc với Dreamy?</h3>
    <p>
      Đừng ngần ngại để lại cho chúng tôi số điện thoại của bạn. Chúng tôi sẽ
      liên hệ với bạn để thảo luận về bất kỳ câu hỏi nào bạn có thể có
    </p>
    <p-inputGroup class="w-25rem h-3rem m-4">
      <input type="text" pInputText placeholder="Nhập số điện thoại" />
      <button pButton class="p-button-warning">Đăng ký</button>
    </p-inputGroup>
  </div>
</div>
