<div
  class="course-detail border rounded-lg border-gray-200 shadow dark:border-gray-700 mx-4 p-3"
>
  <a href="#">
    <img
      class="w-full h-auto rounded-t-lg rounded-xl"
      [src]="course.thumbnail"
      [alt]="course.title"
    />
  </a>
  <div class="px-5 py-5">
    <div class="flex items-center mt-2.5 mb-5">
      <div class="basis-2/3 border-round-right">
        <ul class="list-none space-y-4">
          <li>
            <p class="font-normal text-base text-gray-900 font-customFont">
              Số bài học:
              <span class="font-bold text-gray-900 font-customFont"
                >{{ number }} bài học</span
              >
            </p>
          </li>
          <li>
            <p class="font-normal text-base text-gray-900 font-customFont">
              Giảng viên:
              <span
                class="font-bold font-customFont"
                [style]="{ color: '#9B51E0' }"
                >Sơn Đặng
              </span>
            </p>
          </li>
          <li>
            <p class="font-normal text-base text-gray-900 font-customFont">
              Học viên đã học:
              <span class="font-bold text-gray-900 font-customFont">100+</span>
            </p>
          </li>
          <li class="flex">
            <p class="font-normal text-base text-gray-900 font-customFont">
              Đánh giá:
            </p>
            &nbsp;
            <p-rating [(ngModel)]="starValue" [cancel]="false"></p-rating>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <span>
        <p class="font-semibold text-2xl text-gray-900 font-customFont">
          <span class="font-bold text-gray-900 font-customFont">
            {{
              course.amount === 0
                ? "Miễn phí"
                : (course.amount | currency : "VND")
            }}
          </span>
        </p>
      </span>
      <span>
        <ng-template [ngIf]="course !== undefined && course.type !== 'free'">
          <button
            type="button"
            class="font-customFont focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
          >
            Thêm vào giỏ hàng
          </button>
        </ng-template>
        <ng-template [ngIf]="course !== undefined && course?.type === 'free'">
          <button
            (click)="handleEnrollCoures(course._id)"
            type="button"
            class="font-customFont focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
          >
            Đăng ký ngay
          </button>
        </ng-template>
      </span>
    </div>
  </div>
</div>
