/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$gutter: 1rem;
/* PrimeNG */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  overflow-x: hidden;
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Lexend Deca", "system-ui", sans-serif !important;
  font-weight: normal;
  color: #374151;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
}

@layer reset, primeng;

/* Reset CSS */
@layer reset {
}
